<div class="container" #container>
  @for (item of slides; track $index) {
  <div
    [ngClass]="{
      carousel__container: true,
      bg__gray: $index % 2 == 1
    }"
  >
    <img class="carousel__item" [src]="slides[$index]" alt="carousel image" />
  </div>
  }
</div>
<div class="nav__container">
  @for (item of slides; track $index) {
  <div
    [ngClass]="{
      nav__item: true,
      'nav__item--active': activeIndex === $index
    }"
    (click)="onNavItemClick($index)"
  ></div>
  }
</div>
