.container {
  height: 45rem;
  overflow: hidden;

  display: flex;
  position: relative;

  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
}

.carousel {
  &__container {
    min-width: 100vw;
    height: 45rem;
    display: flex;
    justify-content: center;

    scroll-snap-align: center;
  }

  &__item {
    display: flex;
    max-width: 100%;
    max-height: 45rem;
    width: auto;
    height: auto;
  }
}

.nav {
  &__container {
    display: flex;
    justify-content: center;
    gap: 2rem;

    transform: translateY(-4.9rem);

    opacity: 0.4;
    transition: opacity 300ms ease-in;

    &:hover {
      opacity: 1;
    }
  }

  &__item {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer;

    transition: all 300ms linear;

    &--active {
      background-color: #a5a8ae;
    }
  }
}

.bg {
  &__gray {
    background-color: #d9d9d9;
  }
}
