<div class="container">
  <div class="banner-container">
    <img [src]="banner" alt="adult running" class="banner__img" />
  </div>
  <div class="main">
    <div class="main__card">
      <h1 class="main__header">ตั้งรหัสผ่านใหม่</h1>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="form">
        <div class="input__box mgb-32">
          <label class="input__label">รหัสผ่าน*</label>
          <div class="input__password-container">
            <input
              name="password"
              [type]="passwordType"
              formControlName="password"
              [autocomplete]="true"
              placeholder="กรอกรหัสผ่าน"
              class="input__text"
              (keydown)="onFieldValueChanged('password')"
            />
            <img
              [src]="passwordIconUrl"
              alt="password icon"
              class="input__password-icon"
              (click)="onTogglePassword()"
            />
          </div>
          @if ((passwordControl?.errors) && passwordControl?.touched &&
          hadSubmitted) {
          <div class="error error__absolute">
            <img src="/assets/error_icon.svg" alt="error icon" />
            <p class="error__text">
              {{ getUIErrorMessage(passwordControl?.errors, "รหัสผ่าน") }}
            </p>
          </div>
          }
        </div>

        <div class="input__box">
          <label class="input__label">ยืนยันรหัสผ่าน*</label>
          <div class="input__password-container">
            <input
              name="confirmPassword"
              [type]="confirmPasswordType"
              formControlName="confirmPassword"
              [autocomplete]="true"
              placeholder="ยืนยันรหัสผ่าน"
              class="input__text"
              (keydown)="onFieldValueChanged('confirmPassword')"
            />
            <img
              [src]="confirmPasswordIconUrl"
              alt="password icon"
              class="input__password-icon"
              (click)="onToggleConfirmPassword()"
            />
          </div>
          @if ((confirmPasswordControl?.errors ) &&
          confirmPasswordControl?.touched && hadSubmitted) {
          <div class="error error__absolute">
            <img src="/assets/error_icon.svg" alt="error icon" />
            <p class="error__text">
              {{
                getUIErrorMessage(
                  confirmPasswordControl?.errors,
                  "ยืนยันรหัสผ่าน"
                )
              }}
            </p>
          </div>
          } @else if (form.errors?.['confirmPasswordNotMatch'] &&
          confirmPasswordControl?.touched && hadSubmitted) {
          <div class="error error__absolute">
            <img src="/assets/error_icon.svg" alt="error icon" />
            <p class="error__text">รหัสผ่านที่ยืนยันไม่ถูกต้อง</p>
          </div>
          }
        </div>

        @if (apiErrors['resetPasswordCode']) {
        <div class="error">
          <img src="/assets/error_icon.svg" alt="error icon" />
          <p class="error__text">
            รหัสรีเซตรหัสผ่านไม่ถูกต้อง โปรดตรวจสอบลิงก์รีเซตรหัสผ่านอีกครั้ง
          </p>
        </div>
        }

        <button class="button mgt-44">ตกลง</button>
      </form>
    </div>
  </div>
</div>
