<div class="footer">
  <div class="footer__horizontal-line"></div>

  <div class="footer__container">
    <div class="footer__group-left">
      <img
        class="footer__logo--1"
        src="/assets/footer_sss.svg"
        alt="Sor Sor Sor logo"
      />
      <img
        class="footer__logo--1"
        src="/assets/footer_thai_active.svg"
        alt="Thai active logo"
      />
      <img
        class="footer__logo--2"
        src="/assets/footer_running_club.svg"
        alt="Running club logo"
      />

      <div>
        <div>มูลนิธิสมาพันธ์ชมรมเดิน-วิ่งเพื่อสุขภาพไทย</div>
        <div>สนับสนุนโดย สำนักงานกองทุนสนับสนุนการสร้างเสริมสุขภาพ (สสส.)</div>
      </div>
    </div>
    <div class="footer__group-right"></div>
  </div>
</div>
