<div class="footer">
  <div class="footer__horizontal-line"></div>

  <div class="footer__container">
    <div class="footer__group-left">
      <img
        class="footer__logo--1"
        src="/assets/footer_sss.svg"
        alt="Sor Sor Sor logo"
      />
      <img
        class="footer__logo--1 margin-left-14"
        src="/assets/footer_thai_active.svg"
        alt="Thai active logo"
      />
      <img
        class="footer__logo--2 margin-left-14"
        src="/assets/footer_running_club.svg"
        alt="Running club logo"
      />
      <div class="margin-left-32">
        <p class="footer__credit footer__credit--header">
          มูลนิธิสมาพันธ์ชมรมเดิน-วิ่งเพื่อสุขภาพไทย
        </p>
        <p class="footer__credit footer__credit--details">
          สนับสนุนโดย สำนักงานกองทุนสนับสนุนการสร้างเสริมสุขภาพ (สสส.)
        </p>
      </div>
    </div>

    <div class="footer__group-right">
      <p class="footer__contact-us">ติดต่อเรา</p>
      <div class="footer__contact-details">
        <p>
          <span class="font-semi-bold">อีเมล</span>
          off.thaijoggingclub&#64;gmail.com
        </p>
        <p><span class="font-semi-bold">โทร</span> 02-115-0598</p>
        <p><span class="font-semi-bold">เวลาทำการ</span> 09.00 - 17.00 น.</p>
      </div>
    </div>
  </div>
</div>
