@import "../app.component.scss";
@import "../../styles.scss";

.footer {
  width: 100%;
  // min-height: $footer-height;
  padding-top: 1.6rem;

  &__horizontal-line {
    border-top: 1px solid rgba(102, 112, 133, 0.5);
    padding-bottom: 2.4rem;
  }

  &__container {
    // min-height: 11.2rem;
    display: flex;
    justify-content: space-between;
    gap: 4rem;
  }

  &__group-left {
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;
    gap: 3.2rem;
    // max-height: 5.7rem;

    @media only screen and (min-width: $bp1) {
      // max-height: 7rem;
    }
  }

  &__group-right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 0 0 26rem;
  }

  &__credit {
    // flex: 0 0 42rem;

    &--header {
      font-family: $custom-font;
      font-size: 2rem;
      line-height: 3.3rem;
      font-weight: 600;
      color: $black;
    }

    &--details {
      font-family: $custom-font;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 2.475rem;
      color: $black;
    }
  }

  &__logo {
    display: flex;
    gap: 1.4rem;
    align-items: flex-start;
    flex-flow: row wrap;
    flex: 1;
  }

  &__img {
    max-height: 7rem;
  }

  &__contact-us {
    font-family: $custom-font;
    font-weight: 600;
    font-size: 2rem;
    line-height: 3.3rem;
    color: $black;
    margin-bottom: 4px;
  }

  &__contact-details {
    font-family: $custom-font;
    font-size: 1.5rem;
    line-height: 2.475rem;
    width: 24.3rem;
    text-align: right;
  }
}

.font-semi-bold {
  font-weight: 600;
}

.margin-left-footer-1 {
  margin-left: 1.14rem;

  @media only screen and (min-width: $bp1) {
    margin-left: 1.4rem;
  }
}
