<div class="footer">
  <div class="footer__horizontal-line"></div>

  <div class="footer__container">
    <div class="footer__group-left">
      <div class="footer__logo">
        @for (logo of logos; track $index) {
        <img [src]="logo.fullPath" alt="footer logo" />
        }
      </div>
      <div class="margin-left-32">
        <p class="footer__credit footer__credit--header">
          มูลนิธิสมาพันธ์ชมรมเดิน-วิ่งเพื่อสุขภาพไทย
        </p>
        <p class="footer__credit footer__credit--details">
          สนับสนุนโดย สำนักงานกองทุนสนับสนุนการสร้างเสริมสุขภาพ (สสส.)
        </p>
      </div>
    </div>

    <div class="footer__group-right">
      <p class="footer__contact-us">ติดต่อเรา</p>
      <div class="footer__contact-details">
        <p>
          <span class="font-semi-bold">อีเมล</span>
          {{ email }}
        </p>
        <p><span class="font-semi-bold">โทร</span> {{ phoneNumber }}</p>
        <p><span class="font-semi-bold">เวลาทำการ</span> {{ operatingHour }}</p>
      </div>
    </div>
  </div>
</div>
