@if (form) {
<div [formGroup]="form">
  <label
    [ngClass]="{
      checkbox__label: true,
      'font-size-small': fontSize === 'small',
      'cursor-not-allow': disabled
    }"
    [ngStyle]="{ gap: gap, fontSize: fontSize }"
  >
    <input
      type="checkbox"
      [value]="value"
      [ngClass]="{ checkbox__box: true, 'cursor-not-allow': disabled }"
      [checked]="checked"
      [formControlName]="controlName"
      (change)="_onChanged()"
    />{{ display }}
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="14"
      height="15"
      viewBox="0 0 14 15"
      fill="none"
      class="checkbox__mark"
    >
      <path
        d="M11.6666 4L5.24992 10.4167L2.33325 7.5"
        stroke="#344054"
        stroke-width="2"
        stroke-linecap="round"
        stroke-linejoin="round"
        class="checkbox__path"
      />
    </svg>
  </label>
</div>

} @else {
<label
  [ngClass]="{
    checkbox__label: true,
    'font-size-small': fontSize === 'small',
    'cursor-not-allow': disabled
  }"
  [ngStyle]="{ gap: gap, fontSize: fontSize }"
>
  <input
    type="checkbox"
    [name]="name"
    [value]="value"
    [disabled]="disabled"
    [ngClass]="{ checkbox__box: true, 'cursor-not-allow': disabled }"
    [checked]="checked"
  />{{ display }}
  <svg
    xmlns="http://www.w3.org/2000/svg"
    width="14"
    height="15"
    viewBox="0 0 14 15"
    fill="none"
    class="checkbox__mark"
  >
    <path
      d="M11.6666 4L5.24992 10.4167L2.33325 7.5"
      stroke="#344054"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="checkbox__path"
    />
  </svg>
</label>
}
