<ng-container [formGroup]="form">
  @if (groupName) {
  <ng-container [formGroupName]="groupName">
    <div
      [ngClass]="{
        horizontal: direction === 'horizontal',
        'horizontal__3-a': radioStyle === 'review-3a'
      }"
    >
      @for (option of options; track option.id) {
      <div
        [ngClass]="{ 'radio__item--horizontal': direction === 'horizontal' }"
      >
        <label [ngClass]="labelClasses">
          {{ option.display }}
          <input
            type="radio"
            [value]="option.value"
            [formControlName]="controlName"
            (change)="_onChanged()"
            class="radio"
          />
          <span class="radio__checkmark"></span>
        </label>
      </div>
      }
    </div>
  </ng-container>
  } @else {
  <div
    [ngClass]="{
      horizontal: direction === 'horizontal',
      'horizontal__3-a': radioStyle === 'review-3a'
    }"
  >
    @for (option of options; track option.id) {
    <div [ngClass]="{ 'radio__item--horizontal': direction === 'horizontal' }">
      <label [ngClass]="labelClasses">
        {{ option.display }}
        <input
          type="radio"
          [value]="option.value"
          [formControlName]="controlName"
          (change)="_onChanged()"
          class="radio"
        />
        <span class="radio__checkmark"></span>
      </label>
    </div>
    }
  </div>
  }
</ng-container>
