<app-com-modal #captchaModal (modalCloseEvent)="onCaptchaModalClosed()">
  <div>
    <div class="captcha__menu">
      <p class="captcha__menu-text">ยืนยันตัวตนเพื่อดำเนินการต่อ</p>
      <div>
        <button
          class="captcha__menu-refresh"
          (click)="refreshCaptcha()"
          [disabled]="disabled || internalDisabled"
        >
          <img src="/assets/replay_icon.svg" alt="replay icon" />
        </button>
        <button class="captcha__menu-close" (click)="onCloseCaptcha()">
          <img src="/assets/close_icon.svg" alt="close icon" />
        </button>
      </div>
    </div>
    <div class="hr"></div>
    <div class="captcha__image-box">
      <img
        [src]="captchaPuzzle.background"
        alt="captcha background"
        class="captcha__image-background"
        draggable="false"
      />
      <img
        [src]="captchaPuzzle.puzzle"
        alt="captcha puzzle piece"
        class="captcha__image-puzzle"
        [ngStyle]="{ top: puzzleYPosition, left: currentXValue + 'px' }"
        draggable="false"
      />
    </div>

    <div class="slider-box mgt-10">
      <input
        type="range"
        [min]="MIN_X_POSITION"
        [max]="MAX_X_POSITION"
        [value]="currentXValue"
        (change)="onSliderChanged($event)"
        (input)="onSliderInput($event)"
        [ngClass]="{
          slider: true,
          'slider--lock': disabled || internalDisabled
        }"
        [disabled]="disabled || internalDisabled"
      />
      <p class="slider__text" draggable="false">
        เลื่อนปุ่มสีส้มหรือตัวต่อให้ทับช่องว่าง
      </p>
    </div>
  </div>
</app-com-modal>
