<div class="container">
  <div class="header">
    <img
      src="/assets/arrow_back_dark.svg"
      alt="arrow back"
      class="header__icon"
      (click)="onBack()"
    />
    <p class="header__text">ตั้งรหัสผ่านใหม่</p>
  </div>
  <div>
    <img class="email-icon" src="/assets/attach_email.svg" alt="attach email" />
  </div>
  <div class="text-container">
    <p>รหัสยืนยันตัวตนจะถูกส่งไปที่ Email</p>
    <span class="text-container--red">{{ email }}</span>
    <p class="text-container">กรุณายืนยัน ></p>
  </div>
  <button class="button" (click)="onOk()">ตกลง</button>
</div>
