<div class="container">
  <h2 class="header">
    <span class="header--orange">ส่วนที่ 6</span>
    เอกสารแนบ
  </h2>

  <div class="section-container">
    <div class="section">
      <h3 class="section__header section__header--with-ask">
        6.1 หนังสือนำส่งข้อเสนอโครงการ
      </h3>
      <div>
        <!-- <app-com-upload-button
          (filesChanged)="onFilesChanged($event)"
        ></app-com-upload-button> -->
      </div>
    </div>

    <div class="section">
      <h3 class="section__header section__header--with-ask">
        6.2 ป้ายประชาสัมพันธ์งาน*
      </h3>
      <div>
        <!-- <app-com-upload-button
          (filesChanged)="onFilesChanged($event)"
        ></app-com-upload-button> -->
      </div>
    </div>
  </div>
</div>
