<div>
  <h2 class="header">
    <span class="header--orange">ส่วนที่ 6</span>
    เอกสารแนบ
  </h2>

  <div class="section-container">
    <div class="section">
      <h3 class="section__header section__header--with-ask">
        6.1 หนังสือนำส่งข้อเสนอโครงการ
      </h3>
      <div class="uploadBox">
        <div>
          <app-com-upload-button
            id="proposal"
            [filesSubject]="proposalSubject"
          ></app-com-upload-button>
          @if (proposalCount === 0 && proposalUploadButtonTouched) {
          <div class="error">
            <img src="/assets/error_icon.svg" alt="error icon" />
            <p class="error__text">กรุณาอัพโหลดไฟล์</p>
          </div>
          }
        </div>
        <p class="uploadBox__text">
          แนะนำไฟล์ประเภท PDF, JPG ขนาดไม่เกิน 25 MB
        </p>
      </div>
    </div>

    <div class="section">
      <h3 class="section__header section__header--with-ask">
        6.2 ป้ายประชาสัมพันธ์งาน
      </h3>
      <div class="uploadBox">
        <div>
          <app-com-upload-button
            id="marketing"
            [filesSubject]="marketingSubject"
          ></app-com-upload-button>
          @if (marketingCount === 0 && marketingUploadButtonTouched) {
          <div class="error">
            <img src="/assets/error_icon.svg" alt="error icon" />
            <p class="error__text">กรุณาอัพโหลดไฟล์</p>
          </div>
          }
        </div>
        <p class="uploadBox__text">
          แนะนำไฟล์ประเภท PDF, JPG ขนาดไม่เกิน 25 MB
        </p>
      </div>
    </div>

    <div class="section">
      <h3 class="section__header section__header--with-ask">
        6.3 เส้นทางจุดเริ่มต้นถึงจุดสิ้นสุด และเส้นทางวิ่งในทุกระยะ
      </h3>
      <div class="uploadBox">
        <div>
          <app-com-upload-button
            id="route"
            [filesSubject]="routeSubject"
          ></app-com-upload-button>
          @if (routeCount === 0 && routeUploadButtonTouched) {
          <div class="error">
            <img src="/assets/error_icon.svg" alt="error icon" />
            <p class="error__text">กรุณาอัพโหลดไฟล์</p>
          </div>
          }
        </div>
        <p class="uploadBox__text">
          แนะนำไฟล์ประเภท PDF, JPG ขนาดไม่เกิน 25 MB
        </p>
      </div>
    </div>

    <div class="section">
      <h3 class="section__header section__header--with-ask">
        6.4 แผนผังบริเวณการจัดงาน
      </h3>
      <div class="uploadBox">
        <div>
          <app-com-upload-button
            id="eventMap"
            [filesSubject]="eventMapSubject"
          ></app-com-upload-button>
          @if (eventMapCount === 0 && eventMapUploadButtonTouched) {
          <div class="error">
            <img src="/assets/error_icon.svg" alt="error icon" />
            <p class="error__text">กรุณาอัพโหลดไฟล์</p>
          </div>
          }
        </div>
        <p class="uploadBox__text">
          แนะนำไฟล์ประเภท PDF, JPG ขนาดไม่เกิน 25 MB
        </p>
      </div>
    </div>

    <div class="section">
      <h3 class="section__header section__header--with-ask">
        6.5 รายละเอียดจัดการงาน (ถ้ามี)
      </h3>
      <div class="uploadBox">
        <div>
          <app-com-upload-button
            id="eventDetails"
            [filesSubject]="eventDetailsSubject"
          ></app-com-upload-button>
          @if (eventDetailsCount === 0 && eventDetailsUploadButtonTouched) {
          <div class="error">
            <img src="/assets/error_icon.svg" alt="error icon" />
            <p class="error__text">กรุณาอัพโหลดไฟล์</p>
          </div>
          }
        </div>
        <p class="uploadBox__text">
          แนะนำไฟล์ประเภท PDF, JPG ขนาดไม่เกิน 25 MB
        </p>
      </div>
    </div>
  </div>
</div>
