<div class="container">
  <h2 class="header">
    <span class="header--orange">ส่วนที่ 3</span>
    ข้อมูลข้อเสนอโครงการและแผนบริหารจัดการงานวิ่งเพื่อสุขภาพ
  </h2>

  <div class="section-container">
    <!-- 3.1 Start -->
    <div class="section">
      <h3 class="section__header">
        3.1 ระบุรายละเอียดความเป็นมาและวัตถุประสงค์ของการจัดการแข่งขัน
      </h3>
      <div class="section-content">
        <div [formGroup]="detailsFormGroup">
          <textarea
            id="background"
            formControlName="background"
            class="textarea"
            placeholder="ระบุรายละเอียด..."
          ></textarea>

          @if (!form.get('details.background')?.valid &&
          form.get('details.background')?.touched && formTouched) {
          <div class="error mgt-10">
            <img src="/assets/error_icon.svg" alt="error icon" />
            <p class="error__text">กรูณาระบุรายละเอียด</p>
          </div>
          }
        </div>
      </div>
    </div>
    <!-- 3.2 Start -->
    <div class="section">
      <div class="section__header section__header--no-asterisk">
        3.2 เมื่อเกิดกรณีฉุกเฉินหรือการจัดการความเสี่ยง เช่น ฝนตกหนัก
        เหตุที่อาจต้องยกเลิกการแข่งขัน ใครเป็นผู้ตัดสินใจสูงสุด
        <p class="section__header--remark">
          (ระบุชื่อและตำแหน่งในการดำเนินงาน)
        </p>
      </div>

      <div class="section-content">
        <div class="emergencyContact__line">
          <div class="emergencyContact__item">
            <label class="label">คำนำหน้า</label>
            <div>
              <app-com-input-text
                id="emergencyContact.prefix"
                placeholder="คำนำหน้า"
                [form]="emergencyFormGroup"
                controlName="prefix"
                width="17.6rem"
              ></app-com-input-text>

              @if (!form.get('details.emergencyContact.prefix')?.valid &&
              form.get('details.emergencyContact.prefix')?.touched &&
              formTouched) {
              <div class="error mgt-10">
                <img src="/assets/error_icon.svg" alt="error icon" />
                <p class="error__text">กรุณากรอกคำนำหน้า</p>
              </div>
              }
            </div>
          </div>

          <div class="emergencyContact__item">
            <label class="label">ชื่อ</label>
            <div>
              <app-com-input-text
                id="emergencyContact.firstName"
                placeholder="ชื่อ"
                [form]="emergencyFormGroup"
                controlName="firstName"
                width="26rem"
              ></app-com-input-text>

              @if (!form.get('details.emergencyContact.firstName')?.valid &&
              form.get('details.emergencyContact.firstName')?.touched &&
              formTouched) {
              <div class="error mgt-10">
                <img src="/assets/error_icon.svg" alt="error icon" />
                <p class="error__text">กรุณากรอกชื่อ</p>
              </div>
              }
            </div>
          </div>

          <div class="emergencyContact__item">
            <label class="label">นามสกุล</label>
            <div>
              <app-com-input-text
                id="emergencyContact.lastName"
                placeholder="นามสกุล"
                [form]="emergencyFormGroup"
                controlName="lastName"
                width="26rem"
              ></app-com-input-text>

              @if (!form.get('details.emergencyContact.lastName')?.valid &&
              form.get('details.emergencyContact.lastName')?.touched &&
              formTouched) {
              <div class="error mgt-10">
                <img src="/assets/error_icon.svg" alt="error icon" />
                <p class="error__text">กรุณากรอกนามสกุล</p>
              </div>
              }
            </div>
          </div>
        </div>

        <div class="emergencyContact__line">
          <div class="emergencyContact__item">
            <label class="label">ตำแหน่งในการจัดงานครั้งนี้</label>
            <div>
              <app-com-input-text
                id="emergencyContact.eventPosition"
                placeholder="ตำแหน่งในการจัดงานครั้งนี้"
                [form]="emergencyFormGroup"
                controlName="eventPosition"
                width="29.9rem"
              ></app-com-input-text>

              @if (!form.get('details.emergencyContact.eventPosition')?.valid &&
              form.get('details.emergencyContact.eventPosition')?.touched &&
              formTouched) {
              <div class="error mgt-10">
                <img src="/assets/error_icon.svg" alt="error icon" />
                <p class="error__text">กรุณากรอกตำแหน่งในการจัดงานครั้งนี้</p>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- 3.3 Start -->
    <div class="section">
      <h3 class="section__header">
        3.3 โครงการมีการวัดระยะทางวิ่งและการจัดการจราจรอย่างไร
      </h3>
      <div class="measurement-section">
        <div class="measurement-section__header">
          <h4>
            3.3.1 เส้นทาง
            <span class="measurement-section__header--light"
              >(เส้นทางที่มีการวัดระยะสำหรับการวิ่งทุกประเภท)</span
            >
          </h4>
          <p class="measurement-section__warning">
            โปรดเตรียมเอกสารเกี่ยวกับเส้นทางการวิ่งเพื่อใช้แนบไฟล์ในส่วนที่ 6
          </p>
        </div>
      </div>
      <!-- 3.3.2 Start -->
      <div class="measurement-section">
        <div class="measurement-section__header">
          <h4>
            3.3.2 การวัดระยะทาง
            <span class="measurement-section__header--light"
              >(เลือกทุกข้อที่มีการดำเนินการ)</span
            >
          </h4>
        </div>
        <div class="measurement-section__form" id="route.measurement">
          @for (item of measurementOptions; track item.id) {
          <div class="measurement-section__form--checkbox">
            @if (item.onChanged) {
            <app-com-checkbox
              [form]="measurementFormGroup"
              [controlName]="item.controlName"
              [display]="item.display"
              gap="8px"
              fontSize="16px"
              [onChanged]="item.onChanged"
            ></app-com-checkbox>
            } @else {
            <app-com-checkbox
              [form]="measurementFormGroup"
              [controlName]="item.controlName"
              [display]="item.display"
              gap="8px"
              fontSize="16px"
            ></app-com-checkbox>
            }
          </div>

          } @if (!form.get('details.route.measurement')?.valid &&
          form.get('details.route.measurement')?.touched && formTouched) {
          <div class="error pdl-28">
            <img src="/assets/error_icon.svg" alt="error icon" />
            <p class="error__text">สามารถเลือกได้หลายข้อ</p>
          </div>
          } @if (isSelfMeasured) {
          <div class="pdl-30">
            <app-com-input-text
              id="route.tool"
              placeholder="โปรดระบุเครื่องมือ"
              [form]="routeFormGroup"
              controlName="tool"
              width="40.5rem"
            ></app-com-input-text>

            @if (!form.get('details.route.tool')?.valid &&
            form.get('details.route.tool')?.touched && formTouched) {
            <div class="error mgt-10">
              <img src="/assets/error_icon.svg" alt="error icon" />
              <p class="error__text">โปรดระบุเครื่องมือ</p>
            </div>
            }
          </div>
          }
        </div>
      </div>
      <!-- 3.3.3 Start -->
      <div class="measurement-section">
        <div class="measurement-section__header">
          <h4>
            3.3.3 การจัดการจราจร
            <span class="measurement-section__header--light"
              >(เลือกทุกข้อที่มีการดำเนินการ)</span
            >
          </h4>
        </div>
        <div class="measurement-section__form">
          @for (item of trafficManagementOptions; track item.id) {
          <div
            id="route.trafficManagement"
            class="measurement-section__form--checkbox"
          >
            <app-com-checkbox
              [form]="trafficManagementFormGroup"
              [controlName]="item.controlName"
              [display]="item.display"
              gap="8px"
              fontSize="16px"
            >
            </app-com-checkbox>
          </div>
          } @if (!trafficManagementFormGroup.valid &&
          trafficManagementFormGroup.touched && formTouched) {
          <div class="error pdl-28">
            <img src="/assets/error_icon.svg" alt="error icon" />
            <p class="error__text">สามารถเลือกได้หลายข้อ</p>
          </div>
          }
        </div>
      </div>
    </div>
    <!-- 3.4 Start -->
    <div class="section">
      <h3 class="section__header section__header--no-asterisk">
        3.4 ระบบตัดสินของการแข่งขันเป็นรูปแบบใด
        <span class="section__header--remark">(เลือกตอบเพียง 1 ข้อ)</span>
      </h3>
      <div class="section-content">
        <div>
          <app-com-radio
            id="judge.type"
            [form]="judgeFormGroup"
            [options]="judgeTypeOptions"
            controlName="type"
            fontSize="16px"
            gap="8px"
            [onChanged]="onJudgementTypeChanged"
          ></app-com-radio>
          @if (!judgeFormGroup.get('type')?.valid &&
          judgeFormGroup.get('type')?.touched && formTouched) {
          <div class="error pdl-28">
            <img src="/assets/error_icon.svg" alt="error icon" />
            <p class="error__text">กรุณาเลือกระบบตัดสินของการแข่งขัน</p>
          </div>
          }
        </div>
        @if (isOtherJudgementType) {
        <div class="pdl-30">
          <app-com-input-text
            id="judge.otherType"
            placeholder="โปรดระบุรายละเอียด"
            [form]="judgeFormGroup"
            controlName="otherType"
            width="50.5rem"
          ></app-com-input-text>

          @if (!judgeFormGroup.get('otherType')?.valid &&
          judgeFormGroup.get('otherType')?.touched && formTouched) {
          <div class="error mgt-10">
            <img src="/assets/error_icon.svg" alt="error icon" />
            <p class="error__text">โปรดระบุรายละเอียด</p>
          </div>
          }
        </div>
        }
      </div>
    </div>
    <!-- 3.5 Start -->
    <div class="section">
      <h3 class="section__header section__header--no-asterisk">
        3.5
        โครงการมีแผนการจัดการใดบ้างที่เกี่ยวข้องกับการดูแลความปลอดภัยทางสุขภาพของนักวิ่ง
        <span class="section__header--remark">
          (เลือกทุกข้อที่มีการดำเนินการ)</span
        >
      </h3>
      <div class="section-content">
        <div class="safety">
          @for (item of safetyOptions; track item.id) {
          <div id="safety" class="measurement-section__form--checkbox">
            @if (item.onChanged) {
            <app-com-checkbox
              [form]="safetyReadyFormGroup"
              [controlName]="item.controlName"
              [innerHTML]="item.display"
              gap="8px"
              fontSize="16px"
              [onChanged]="item.onChanged"
            >
            </app-com-checkbox>
            } @else {
            <app-com-checkbox
              [form]="safetyReadyFormGroup"
              [controlName]="item.controlName"
              [innerHTML]="item.display"
              gap="8px"
              fontSize="16px"
            >
            </app-com-checkbox>
            }
          </div>
          } @if(!safetyReadyFormGroup.valid && safetyReadyFormGroup.touched &&
          formTouched) {
          <div class="error pdl-28">
            <img src="/assets/error_icon.svg" alt="error icon" />
            <p class="error__text">สามารถเลือกได้หลายข้อ</p>
          </div>
          }
        </div>
        @if (isOtherTypeSafety) {
        <div class="pdl-30">
          <app-com-input-text
            id="safety.addition"
            placeholder="โปรดระบุรายละเอียด"
            [form]="safetyFormGroup"
            controlName="addition"
            width="55.8rem"
          ></app-com-input-text>

          @if (!safetyFormGroup.get('addition')?.valid &&
          safetyFormGroup.get('addition')?.touched && formTouched) {
          <div class="error mgt-10">
            <img src="/assets/error_icon.svg" alt="error icon" />
            <p class="error__text">โปรดระบุ</p>
          </div>
          }
        </div>
        }
      </div>
    </div>
    <!-- 3.6 Start -->
  </div>
</div>
