@import "../../../styles.scss";

.container {
  padding: 6.1rem 5.3rem 7.8rem 5rem;
  margin: 4.6rem 3.7rem 5.2rem 3.6rem;
  background-color: #fff;
  border-radius: 2rem;
}

.header {
  color: $gray700;
  font-family: $custom-font;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  margin-bottom: 3.2rem;

  &--orange {
    color: #fb6514;
  }
}

.section-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 3rem;

  &__header {
    color: $gray700;
    font-family: $custom-font-looped;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    padding: 1rem 2rem;
    background-color: #f2edeb;

    &::after {
      content: "*";
      color: #c4320a;
    }

    &--no-asterisk::after {
      content: none;
    }

    &--remark {
      font-weight: 400;
      &::after {
        content: "*";
        color: #c4320a;
      }
    }
  }

  &-content {
    padding-left: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
  }
}

.measurement-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-left: 2rem;
  padding-bottom: 2rem;

  &:not(:last-child) {
    border-bottom: 1px solid rgba(0, 0, 0, 0.36);
  }

  &__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    &--checkbox {
      padding-left: 4px;
    }
  }

  &__header {
    color: $gray700;
    font-family: $custom-font-looped;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    &--light {
      font-weight: 400;

      &::after {
        content: "*";
        color: #c4320a;
      }
    }
  }

  &__warning {
    color: #ec4a0a;
    font-family: $custom-font-looped;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

label {
  padding-top: 9px;
  color: $gray700;
  font-family: $custom-font-looped;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.error {
  display: flex;
  font-family: $custom-font-looped;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: normal;
  color: #ec4a0a;

  &__text {
    margin-left: 4px;
  }
}

.emergencyContact {
  &__line {
    display: flex;
    gap: 1.4rem;
  }

  &__item {
    display: flex;
    gap: 8px;
  }
}

.textarea {
  resize: none;
  width: 100%;
  height: 15.8rem;
  border-radius: 8px;
  padding: 1rem 2rem;
  text-align: left;
  box-sizing: border-box;

  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  background-color: #fff;

  font-family: $custom-font-looped;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #101828;

  &:disabled {
    cursor: not-allowed;
    color: #667085;
  }

  &::placeholder {
    color: #667085;
  }

  &:focus-visible {
    outline: none;
    border: 1px solid #d9dbe1;
    box-shadow: 0px 0px 0px 4px #eaecf1, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }
}

.mgt {
  &-10 {
    margin-top: 10px;
  }
}

.pdl {
  &-30 {
    padding-left: 3rem;
  }
}
