<div class="mainContainer">
  <h1 class="header__mainText">
    แบบฟอร์มข้อเสนอโครงการสนับสนุนทุนอุปถัมภ์งานเดิน-วิ่งเพื่อสุขภาพ
  </h1>
  <div class="mgt-29">
    <app-com-progress-bar-steps
      [steps]="progressBarSteps"
      [currentStep]="currentStep"
      [maxStep]="progressBarSteps.length"
    ></app-com-progress-bar-steps>
  </div>

  <form [formGroup]="form">
    @switch (currentStep) { @case (0) {
    <app-applicant-collaborate
      #collaborateComponent
      [form]="form"
      [selectedFilesCount]="collaborationFiles?.length || 0"
      [uploadButtonTouched]="collaborationUploadButtonTouched"
      [fileNames]="collaborationFileNames"
      (filesChanged)="handleFilesChanged($event)"
      (clearSelectedFiles)="clearSelectedFiles()"
    ></app-applicant-collaborate>
    } @case (1) {
    <app-applicant-general-details
      [form]="form"
      [enableScroll]="true"
      #generalDetailsComponent
    ></app-applicant-general-details>
    } }
  </form>

  <div style="display: flex">
    <button style="padding: 2rem" (click)="reduceStep()">Back</button>
    <button style="padding: 2rem; margin-left: 2rem" (click)="nextPage()">
      Next
    </button>
    <button style="padding: 2rem; margin-left: 2rem" (click)="submitForm()">
      Submit
    </button>
  </div>
</div>
