<app-com-modal #modal width="65.3rem" height="62.1rem" padding="2.4rem">
  <div class="container">
    <div class="header">
      <h1 class="header__text">ข้อตกลงและเงื่อนไขการใช้งาน</h1>
      <img
        src="/assets/close_icon.svg"
        alt="close icon"
        class="header__icon"
        (click)="closeModal()"
      />
    </div>
    <div class="hr"></div>
    <ol class="content">
      <li>
        อนุญาตให้ผู้ที่ประสงค์ยื่นขอรับการสนับสนุนทุนใช้บัญชีลงทะเบียนเดียวกัน
        ในการส่งข้อเสนอโครงการมากกว่า 1 โครงการได้
      </li>
      <li>
        ไม่อนุญาตให้แก้ไขข้อมูลข้อเสนอโครงการภายหลังการยืนยันข้อมูลแล้ว ดังนั้น
        กรุณาตรวจสอบข้อมูลโครงการอย่างถี่ถ้วน ยกเว้นในกรณีที่เจ้าหน้าที่แจ้งกลับ
        ให้ดำเนินการแก้ไขข้อมูล จึงจะดำเนินการแก้ไขได้
      </li>
      <li>
        ทางมูลนิธิสมาพันธ์ฯ ขอสงวนสิทธิ์ในการเพิกถอนการสนับสนุนทุน ในกรณีตรวจสอบ
        แล้วพบว่าโครงการไม่ปฏิบัติหรือเป็นไปตามเงื่อนไขการขอรับการสนับสนุนทุนที่
        กำหนดไว้
        ดังนั้นโปรดอ่านเงื่อนไขการขอรับการสนับสนุนอย่างถี่ถ้วนก่อนส่งยื่น
        ข้อเสนอโครงการทุกครั้ง
      </li>
      <li>
        ห้ามกรอกข้อมูลหรือรายละเอียดที่บิดเบือนไปจากข้อเท็จจริง
        หรือขอบเขตที่โครงการ วางแผนการดำเนินงานไว้
      </li>
      <li>
        ระบบการยื่นขอรับการสนับสนุนทุนถูกออกแบบให้เหมาะสมกับการใช้งานบน
        คอมพิวเตอร์ หรือ/และโน้ตบุ๊ค ดังนั้นการใช้งานโดยแท็บเล็ต
        และโทรศัพท์มือถือ
        อาจทำให้เกิดความไม่สมบูรณ์แบบของการนำเสนอข้อมูลและไม่เหมาะสมสำหรับ
        การส่งยื่นข้อเสนอโครงการ ซึ่งอาจทำให้เกิดความผิดพลาดให้การกรอกข้อมูลได้
      </li>
      <li>
        เนื่องจากมีผู้ที่ประสงค์ยื่นขอรับการสนับสนุนทุนเพื่อจัดกิจกรรมเดิน-วิ่ง
        เป็นจำนวนมาก เจ้าหน้าที่อาจมีความล่าช้าในการรายงานผลสถานะการพิจารณา
        โครงการ เบื้องต้นขอให้ท่านติดตามสถานะโครงการของท่านในระบบอย่างสม่ำเสมอ 
      </li>
      <li>
        มูลนิธิสมาพันธ์ฯ ขอสงวนสิทธิ์ในการแก้ไขเปลี่ยนแปลงเงื่อนไขเป็นครั้งคราว
        โดยจะแจ้งให้ทราบผ่านทางเว็บไซต์
      </li>
    </ol>
  </div>
</app-com-modal>
