@import "../../../styles.scss";

.container {
  width: 24rem;
  height: 18.4rem;
  padding-top: 3.4rem;
  padding-bottom: 3.6rem;
  padding-left: 3.6rem;
  padding-right: 3.6rem;

  border-radius: 10px;
  border: 1px solid #ec4a0a;
  background: #fff;
  box-shadow: 0px 30px 50px 0px rgba(41, 46, 40, 0.29);
}

.text {
  color: #252525;
  text-align: center;
  font-family: $custom-font;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: 2rem;
}

.mt {
  &-26 {
    margin-top: 2.6rem;
  }
}
