<div class="navbar">
  <div class="navbar__body">
    <div class="navbar__left-group">
      <a [routerLink]="'/'" class="navbar__logo" draggable="false">
        <img src="/assets/jogging_logo.svg" alt="Thai Jogging logo" />
      </a>

      <ul class="navbar__menu">
        <a [routerLink]="'/'" class="margin-left" draggable="false">
          <li>หน้าหลัก</li>
        </a>
        <a [routerLink]="'/'" class="margin-left" draggable="false">
          <li>วิธีการกลั่นกรองโครงการ</li>
        </a>
        <a [routerLink]="'/'" class="margin-left" draggable="false">
          <li>ขอความช่วยเหลือ</li>
        </a>
      </ul>
    </div>

    @if (currentUser.email) {
    <ul class="navbar__user">
      <li>
        {{ currentUser.firstName + " " + currentUser.lastName }}
      </li>
      <div class="vertical-line"></div>
      <a (click)="onLogout()" class="navbar__logout" draggable="false">
        <li>ออกจากระบบ</li>
      </a>
    </ul>
    } @else {
    <button class="button" (click)="toLoginPage()">เข้าสู่ระบบ</button>
    }
  </div>
</div>
