<div class="dropdown-component" [formGroup]="form" [style]="{ width: width }">
  <div class="input-container" (click)="onInputClick($event)">
    <input
      #selectDropdownButton
      type="text"
      [readOnly]="!showDropdown"
      [ngClass]="{ input: true, 'input--searching': showDropdown }"
      [placeholder]="placeholder"
      [value]="inputValue"
      (keyup)="onSearchChanged($event)"
    />

    <img
      #inputIcon
      [ngClass]="{ input__icon: true, 'input__icon--flip': showDropdown }"
      src="/assets/chevron_down.svg"
      alt="down arrow"
      (click)="onInputIconClick($event)"
    />
  </div>
  <!-- Dropdown Options -->
  <!-- Don't use @If to hide options because radio functional will be broken -->
  <div
    [ngClass]="{
      'radio-container': true,
      'radio-container--show': showDropdown
    }"
    [style]="{ width: width }"
    (change)="onRadioValueChange()"
  >
    @for (item of filteredOptions; track item.id) {
    <label
      class="radio__label"
      [style]="{ 'font-size': dropdownFontSize }"
      (click)="onDropdownClicked()"
    >
      <input
        type="radio"
        class="radio"
        [formControlName]="controlName"
        [value]="item.value"
      />
      {{ item.display }}
    </label>
    } @empty {
    <p class="radio-container--empty">{{ emptyMessage }}</p>
    }
  </div>
</div>
