<div class="container">
  <h2 class="header">
    <span class="header--orange">ส่วนที่ 4</span>
    ประสบการณ์ดำเนินการโครงการ
  </h2>

  <!-- <div class="section-container">
    <div class="section">
      <h3 class="section__header section__header--with-ask">
        4.1 งานแข่งขันวิ่งเพื่อสุขภาพครั้งนี้เป็นการจัดกิจกรรมครั้งแรกหรือไม่
        <span class="section__header--remark">(เลือกตอบเพียง 1 ข้อ)</span>
      </h3>
      <div>
        <app-com-radio
          id="thisSeries.firstTime"
          [options]="firstTimeDoThisSeriesOptions"
          [form]="thisSeriesFormGroup"
          controlName="firstTime"
          fontSize="16px"
          gap="1.8rem"
        ></app-com-radio>
      </div>
      <div style="font-size: 3rem">TODO: Collapsable</div>
    </div>

    <div class="section">
      <h3 class="section__header section__header--with-ask">
        4.2 นอกจากงานวิ่งนี้ ท่านมีประสบการณ์จัดงานวิ่งอื่น ๆ หรือไม่
      </h3>
      <div>
        <app-com-radio
          id="thisSeries.firstTime"
          [options]="hasOtherRunEventExperience"
          [form]="otherSeriesFormGroup"
          controlName="doneBefore"
          fontSize="16px"
        ></app-com-radio>
      </div>

      <div style="font-size: 3rem">TODO: Collapsable</div>
    </div>
  </div> -->
</div>
