@import "../../styles.scss";

.container {
  width: 92.6rem;
  height: 56.3rem;
  border-radius: 8px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin: auto;
  margin-top: 7rem;
  padding: 5rem;
}

.form {
  margin: auto;
  text-align: center;
}
