<div class="login">
  <div class="login__dropdown">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <label for="reviewer" class="login__label"
        >เลือกผู้รีวิว เพื่อเข้าใช้งาน:</label
      >
      <select
        name="reviewer"
        id="reviewer"
        class="login__dropdown-box"
        formControlName="reviewer"
      >
        <option
          *ngFor="let review of reviewers"
          class="login__dropdown-item"
          [value]="review.id"
        >
          {{ review.first_name }}
        </option>
      </select>

      <div class="login__button-container">
        <button type="submit" [disabled]="submitButtonDisabled">
          เข้าสู่ระบบ
        </button>
      </div>
    </form>
    <button style="margin-top: 2rem" (click)="onLogout()">ออกจากระบบ</button>
  </div>
</div>
