@import "../../../styles.scss";

.checkbox {
  &__label {
    font-family: $custom-font-looped;
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.4rem;
    color: #344054;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;

    display: grid;
    grid-template-columns: 2rem auto;
    gap: 1.4rem;
    align-items: center;
    position: relative;
  }

  &__box {
    width: 2rem;
    height: 2rem;
    border-radius: 6px;
    border: 1px solid #d0d5dd;

    &:checked {
      border: 1px solid #344054;
      background-color: #fffaf5;
    }

    &:checked ~ .checkbox__mark {
      display: block;
    }
  }

  &__mark {
    display: none;
    position: absolute;
    width: 14px;
    height: 14px;
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: #fff;
  margin: 0;
}

.cursor-not-allow {
  cursor: not-allowed;
}
