@import "../../../styles.scss";

.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header {
  position: relative;

  &__text {
    text-align: center;
    font-family: $custom-font;
    font-weight: 600;
    font-size: 2rem;
    line-height: 3.3rem;
    color: #1c1b1f;
  }

  &__icon {
    width: 2.4rem;
    position: absolute;
    top: 4px;
    right: 10px;
    cursor: pointer;
    transition: transform 200ms linear;

    &:hover {
      transform: scale(1.2);
    }
  }
}

.hr {
  border-top: 1px solid #00000026;
}

.content {
  font-family: $custom-font-looped;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.7rem;
  color: #000;

  &__header {
    font-weight: 500;
  }
}

.tab {
  text-indent: 4rem;
}

.pdl-40 {
  padding-left: 4rem;
}
