<app-com-modal #modal width="65.3rem" height="62.1rem" padding="2.4rem">
  <div class="container">
    <div class="header">
      <h1 class="header__text">นโยบายความเป็นส่วนตัว</h1>
      <img
        src="/assets/close_icon.svg"
        alt="close icon"
        class="header__icon"
        (click)="closeModal()"
      />
    </div>
    <div class="hr"></div>
    <div class="content">
      <p class="tab">
        มูลนิธิสมาพันธ์ชมรมเดิน-วิ่งเพื่อสุขภาพไทย
        เคารพสิทธิส่วนบุคคลและให้ความสำคัญ ต่อการคุ้มครองข้อมูลส่วนบุคคล
        เพื่อให้สอดคล้องกับพระราชบัญญัติคุ้มครอง ข้อมูลส่วนบุคคล พ.ศ. 2562
        มีนโยบาย ความเป็นส่วนตัวดังนี้
      </p>
      <p>&nbsp;</p>
      <div class="content__header">1. การเก็บรวบรวมข้อมูลส่วนบุคคล</div>
      <p class="tab">
        ในการเข้าถึงและใช้บริการของเว็บไซต์
        ท่านจำเป็นต้องให้ข้อมูลส่วนบุคคลที่ระบุถึงตัวตน
        ของท่านเพื่อให้สามารถเข้าใช้งานเว็บไซต์ได้
        ทั้งนี้เว็บไซต์อาจประมวลผลข้อมูลส่วนบุคคล ทั้งในรูปแบบที่เป็นเอกสาร
        รูปภาพ และ/หรือรูปแบบอิเล็กทรอนิกส์ และรวมถึง
        การประมวลผลโดยระบบอัตโนมัติ
      </p>
      <p class="tab">
        <u>
          ข้อมูลและแหล่งที่มาของข้อมูลส่วนบุคคลของท่านที่มูลนิธิสมาพันธ์ฯ
          ทำการเก็บรวบรวมใช้หรือเปิดเผย ได้แก่
        </u>
      </p>
      <p class="tab">
        1.1. ข้อมูลส่วนบุคคลทั่วไปที่เป็นข้อมูลแสดงตัวตน (Identity Data)
        ซึ่งหมายถึงข้อมูลที่เกี่ยวกับบุคคลธรรมดาที่ทำให้สามารถระบุตัวตนของบุคคลนั้นได้
        ไม่ว่าทางตรงหรือทางอ้อม เช่น คำนำหน้า, ชื่อ/นามสกุล, ตำแหน่งทางอาชีพ
        และหน่วยงาน/องค์กร อย่างไรก็ดีจะไม่ทำการประมวลผลข้อมูลส่วนบุคคลที่มี
        ความอ่อนไหวทุกประเภท
        และไม่มีความประสงค์จะเก็บรวบรวมหรือใช้ข้อมูลเกี่ยวกับ เชื้อชาติ ศาสนา
        หมู่โลหิต หรือข้อมูลอื่นใดนอกเหนือไปจากข้อมูลส่วนบุคคล
        ที่ได้ระบุไว้แล้วข้างต้น
      </p>
      <p class="tab">
        1.2. ข้อมูลติดต่อของท่าน (Contact Data) เช่น ที่อยู่ อีเมล Line ID
        และหมายเลขโทรศัพท์
      </p>
      <p>&nbsp;</p>
      <div class="content__header">
        2. วัตถุประสงค์ในการเก็บรวบรวม ใช้ ประมวลผล หรือเปิดเผยข้อมูลส่วนบุคคล
      </div>
      <p class="tab">
        เพื่อเป็นประโยชน์ให้มูลนิธิสมาพันธ์ฯได้มีช่องทางการติดตามผลการดำเนินงานและแจ้ง
        รายละเอียดของโครงการให้แก่ท่าน ประกอบกับเพื่อเป็นประโยชน์ต่อการพิจารณา
        ตามเงื่อนไขขอทุนสนับสนุนในเบื้องต้น โดยหากท่านปฏิเสธไม่ให้ข้อมูลแก่
        มูลนิธิสมาพันธ์ฯ อาจทำให้กระบวนการพิจารณาขอรับการสนับสนุนทุน
        ดำเนินการต่อไม่ได้
      </p>
      <p>&nbsp;</p>
      <div class="content__header">3. มูลนิธิเปิดเผยข้อมูลให้กับใครบ้าง</div>
      <p class="tab">
        มูลนิธิสมาพันธ์ฯ
        จะไม่เปิดเผยข้อมูลส่วนบุคคลต่อบุคคลใดโดยไม่ได้รับความยินยอม
        จากท่านก่อนอย่างไรก็ดีเพื่อประสิทธิภาพในกระบวนการขอรับทุนสนับสนุน
        <u
          >ท่านรับทราบและยินยอมว่ามูลนิธิสมาพันธ์ฯ
          อาจเปิดเผยข้อมูลส่วนบุคคลของท่าน ให้กับบุคคลต่อไปนี้</u
        >
      </p>
      <p class="tab">
        3.1 คณะกรรมการกำกับทิศทางโครงการฯ
        ซึ่งมีหน้าที่กลั่นกรองโครงการและพิจารณาการให้ทุนสนับสนุน 3.2
        หน่วยงานหรือเจ้าหน้าที่ของมูลนิธิสมาพันธ์ฯ
        ซึ่งมีหน้าที่ในการติดตามและติดต่อประสานงานแจ้งรายละเอียดของโครงการต่อท่าน
      </p>
      <p class="tab">
        3.2 หน่วยงานหรือเจ้าหน้าที่ของมูลนิธิสมาพันธ์ฯ
        ซึ่งมีหน้าที่ในการติดตามและติดต่อประสานงานแจ้งรายละเอียดของโครงการต่อท่าน
      </p>
      <p class="tab">
        3.3 สำนักงานกองทุนสนับสนุนการสร้างเสริมสุขภาพ (สสส.)
        เพื่อรายงานผลการดำเนิน โครงการในฐานะผู้ให้การสนับสนุนทุน
      </p>
      <p class="tab">
        โดยในการเปิดเผยข้อมูลส่วนบุคคลให้แก่บุคคลดังกล่าว
        มูลนิธิสมาพันธ์ฯจะดำเนินการ
        ให้บุคคลเหล่านั้นเก็บรักษาข้อมูลส่วนบุคคลของท่านไว้เป็นความลับ
        และไม่นำไปใช้ เพื่อวัตถุประสงค์อื่นนอกเหนือจากขอบเขตที่มูลนิธิสมาพันธ์ฯ
        ได้กำหนดไว้
      </p>

      <p>&nbsp;</p>
      <div class="content__header">4. สิทธิของเจ้าของข้อมูล</div>
      <p class="tab">
        ท่านมีสิทธิในการเข้าถึงข้อมูลส่วนบุคคลของท่าน รวมถึงขอแก้ไข เปลี่ยนแปลง
        หรือลบข้อมูลของท่านได้ โดยติดต่อมายังมูลนิธิสมาพันธ์ฯ
        ตามช่องทางที่ระบุในข้อ 5
      </p>

      <p>&nbsp;</p>
      <div class="content__header">
        5. ข้อมูลการติดต่อมูลนิธิสมาพันธ์ชมรมเดิน-วิ่งเพื่อสุขภาพไทย
      </div>
      <p class="tab">
        หากท่านต้องการติดต่อ หรือมีข้อสงสัย หรือต้องการสอบถามรายละเอียดเพิ่มเติม
        เกี่ยวกับการเก็บรวบรวม ใช้ หรือเปิดเผยข้อมูลส่วนบุคคล หรือถอนความยินยอม
        ตลอดจนการมีข้อร้องเรียนใดๆ ท่านสามารถติดต่อได้ดังช่องทางต่อไปนี้
      </p>

      <div class="pdl-40">
        <p><strong>อีเมล:</strong> {{ " off.thaijoggingclub@gmail.com" }}</p>
        <p>
          <strong>ที่อยู่:</strong> มูลนิธิสมาพันธ์ชมรมเดิน-วิ่งเพื่อสุขภาพไทย
          เลขที่ 35/626 ซอยประชาอุทิศ 91/2 ถนนประชาอุทิศ แขวงทุ่งครุ เขตทุ่งครุ
          กรุงเทพมหานคร 10140
        </p>
        <p><strong>หมายเลขโทรศัพท์:</strong> 02-115-0598</p>
      </div>
    </div>
  </div>
</app-com-modal>
