.size {
  &--dashboard {
    width: 1.2rem;
    height: 1.2rem;
  }

  &--reviewSuccess {
    width: 3.26rem;
  }

  &--reviewSuccessPopup {
    width: 3.26rem;
  }

  &--progress-bar {
    width: 2rem;
    height: 1.5rem;
  }
}

.color {
  &--green {
    stroke: #12b76a;
    fill: #12b76a;
  }

  &--white {
    stroke: #fff;
    fill: #fff;
  }

  &--orange {
    stroke: #fd853a;
    fill: #fd853a;
  }

  &--blue {
    stroke: #124ab7;
    fill: #124ab7;
  }
}
