<div class="landingContainer">
  <h1 class="header">Landing Page Setting</h1>
  <!-- Allow new project config -->
  <div class="mgt-21">
    <h2 class="subHeader">ตั้งค่าการเปิดรับข้อเสนอโครงการ</h2>
    <div class="newProjectConfig">
      <app-com-select-dropdown
        [form]="form"
        [items]="allowNewProjects"
        placeholder=""
        width="10rem"
        controlName="allowNewProject"
        fontStyle="headless"
      ></app-com-select-dropdown>
      <p class="newProjectConfig__text">
        *เว็บไซต์จะไม่เปิดรับข้อเสนอโครงการจนกว่าจะเปลี่ยนสถานะเป็น “เปิดรับ”
      </p>
    </div>
  </div>

  <h2 class="subHeader mgt-21">Banner Setting</h2>

  <div class="uploadContainer mgt-11">
    <div>
      <app-com-upload-button
        #uploadButton
        [filesSubject]="bannerFilesSubject"
        [disabled]="false"
        text="เพิ่ม Banner"
        accept="image/jpg, image/jpeg, image/png, image/svg+xml"
        [showFilesList]="false"
        [multiple]="false"
      ></app-com-upload-button>
    </div>
    <p class="adviceText pdt-14">แนะนำไฟล์ JPG ขนาด 1920px*450px</p>
  </div>
  <!-- Banners display table -->
  <div class="mgt-26">
    <div class="table">
      <div class="table__row">
        <div class="table__cell table__cell--header table__cell--no">No.</div>
        <div class="table__cell table__cell--header table__cell--flex1">
          File Name
        </div>
        <div class="table__cell table__cell--header table__cell--flex1">
          Link to url
        </div>
        <div class="table__cell table__cell--header table__cell--preview">
          Preview
        </div>
        <div class="table__cell table__cell--header table__cell--delete"></div>
      </div>
      @for (item of bannerFormArray.controls; track $index) {
      <div class="table__row">
        <div class="table__cell table__cell--no">{{ $index + 1 }}</div>
        <div class="table__cell table__cell--flex1">
          {{ getImageFileName(item.value.objectKey) }}
        </div>
        <div class="table__cell table__cell--flex1">
          <app-com-input-text
            placeholder="link to url"
            [form]="getBannerFormGroup($index)"
            controlName="linkTo"
          ></app-com-input-text>
        </div>
        <div class="table__cell table__cell--preview">
          <img
            class="table__imagePreview"
            [src]="item.value.fullPath"
            alt="preview"
          />
        </div>
        <div class="table__cell table__cell--delete">
          <img
            src="/assets/close_icon.svg"
            alt="X"
            (click)="onDeleteBanner($index)"
          />
        </div>
      </div>
      }
    </div>
  </div>

  <h2 class="subHeader mgt-57">Text Setting</h2>
  <div class="mgt-6">
    <app-com-custom-editor
      [form]="form"
      controlName="content"
      [imageUploadPrefix]="editorImageUploadPrefix"
    ></app-com-custom-editor>
  </div>
</div>
