<div class="dropdown-component" [formGroup]="form" [style]="{ width: width }">
  <div
    class="input-container"
    (click)="onButtonClicked()"
    #selectDropdownButton
  >
    <app-table-cell-template
      [cellType]="cellType"
      [cellValue]="selectedValue"
    ></app-table-cell-template>

    <img
      #inputIcon
      [ngClass]="{
        input__icon: true,
        'input__icon--flip': showDropdown,
        disabled: disabled
      }"
      src="/assets/chevron_down.svg"
      alt="down arrow"
    />
  </div>

  <!-- Dropdown Options -->
  <!-- Don't use @If to hide options because radio functional will be broken -->
  <div
    [ngClass]="{
      'radio-container': true,
      'radio-container--show': showDropdown
    }"
    [style]="{ width: dropdownWidth }"
    (change)="onRadioValueChange()"
  >
    @for (item of items; track $index) {
    <label
      class="radio__label"
      [style]="{ 'font-size': dropdownFontSize }"
      (click)="onDropdownClicked()"
    >
      <input
        type="radio"
        class="radio"
        [formControlName]="controlName"
        [value]="item.value"
      />
      <div class="radio__box">
        <app-table-cell-template
          [cellType]="cellType"
          [cellValue]="item.value"
        ></app-table-cell-template>
        @if (item.value === selectedValue) {
        <img src="/assets/dropdown_check_icon.svg" alt="check icon" />
        }
      </div>
    </label>
    }
  </div>
</div>
