@import "../../styles.scss";

.container {
  border-radius: 2rem;
  background-color: #fff;
  margin-top: 8.8rem;
  padding: 2.4rem 7.8rem 5rem 7.9rem;
}

.header {
  display: flex;
  justify-content: space-between;
  height: 8.6rem;
  font-family: $custom-font;

  &__main {
    width: 63.8rem;
    color: #344054;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 4.3rem;
  }

  &__details {
    margin-top: 1rem;
    height: 5.3rem;
  }
  &__line {
    display: flex;
    height: 2.6rem;
    justify-content: right;
    align-items: center;

    &:not(:first-child) {
      margin-top: 1px;
    }

    &--bold-1 {
      font-weight: 500;
      font-size: 1.6rem;
      line-height: normal;
      margin-right: 1rem;
    }

    &--bold-2 {
      font-weight: 500;
      font-size: 1.6rem;
      line-height: normal;
      margin-right: 1.3rem;
    }

    &-normal-1 {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 2rem;
      color: #667085;
    }

    &-normal-2 {
      font-weight: 400;
      font-size: 1.6rem;
      line-height: normal;
      color: #667085;
    }
  }
}

.hr {
  border-top: 0.5px solid #949494;
  margin-top: 2rem;
}

.button {
  display: flex;
  padding: 1.25rem 1.5rem;
  width: 13rem;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  font-family: $custom-font;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  cursor: pointer;

  &--cancel {
    border: 1px solid #878c97;
    color: #878c97;
    background-color: #fff;
  }

  &--next {
    margin-left: 1rem;
    border: none;
    background-color: #feb273;
    color: #344054;

    &:hover {
      background-color: #ffbe88;
      color: #424f64;
    }

    &:active {
      background-color: #ffa167;
    }

    &-icon {
      margin-left: 6.7px;
      width: 2rem;
      height: 2rem;
    }
  }

  &__container {
    display: flex;
    justify-content: center;
  }
}
