$navbar-height: 7.2rem;
$content-padding: 12.2rem;
$footer-height: 20.1rem;

.nav-absolute-height {
  padding-top: $navbar-height;
}

.content-space-width {
  padding-left: $content-padding;
  padding-right: $content-padding;
}

.min-content-hight {
  // navbar is absolute takes no space
  // 1.4 rem is footer top margin
  min-height: calc(100vh - $footer-height - 1.4rem);
}

.background {
  &--white {
    background-color: #fff;
  }
  &--gray {
    background-color: #f2f4f6;
  }
}
