<div class="container">
  <nav class="address">
    <a routerLink="/" class="address__text address__link">หน้าแรก</a>
    <div class="address__text">/</div>
    <div class="address__text address__text--bold">
      วิธีสร้างใบขอทุนสนับสนุน
    </div>
  </nav>

  <div class="mainContainer">
    <div class="nav">
      <a class="nav__text nav__text--active">วิธีสร้างใบขอทุนสนับสนุน</a>
      <a class="nav__text">ควรเตรียมเอกสารอะไรก่อนยื่นขอทุน</a>
      <a class="nav__text"
        >วิธีการลงทะเบียนและ เข้าสู่ระบบเพื่อเข้าใช้งาน เว็บไซต์</a
      >
    </div>
    <!-- Content -->
    <div>
      <!-- Section 1 -->
      <div>
        <h1 class="content__header">วิธีสร้างใบขอทุนสนับสนุน</h1>
        <div class="mgt-15">
          <app-com-button (click)="onDownloadDocumentClick()">
            <div class="button-content">
              <div>ดาวน์โหลดตัวอย่างเอกสาร</div>
              <svg
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M8 12L3 7L4.4 5.55L7 8.15V0H9V8.15L11.6 5.55L13 7L8 12ZM2 16C1.45 16 0.979167 15.8042 0.5875 15.4125C0.195833 15.0208 0 14.55 0 14V11H2V14H14V11H16V14C16 14.55 15.8042 15.0208 15.4125 15.4125C15.0208 15.8042 14.55 16 14 16H2Z"
                  fill="#344054"
                />
              </svg>
            </div>
          </app-com-button>
        </div>
        <p class="content__commonText mgt-19">{{ howToCreateText }}</p>
        <h3 class="content__subHeader mgt-26">คลิปสอนการสร้างใบขอทุน</h3>
        <div class="mgt-14">
          <iframe
            [src]="safeVideoUrl"
            frameborder="0"
            allowfullscreen
            class="video"
          ></iframe>
        </div>
      </div>
      <div class="hr mgt-70"></div>
      <!-- Section 2 -->
      <div class="mgt-53">
        <h1 class="content__header">ควรเตรียมเอกสารอะไรก่อนยื่นขอทุน</h1>
        <p class="content__commonText mgt-15">{{ documentPreparation }}</p>
      </div>
      <div class="hr mgt-66"></div>
      <!-- Section 3 -->
      <div class="mgt-53">
        <h1 class="content__header">
          วิธีการลงทะเบียนและเข้าสู่ระบบเพื่อเข้าใช้งานเว็บไซต์
        </h1>
        <p class="content__commonText mgt-24">{{ howToRegisterAndLogin }}</p>

        <div class="authContainer mgt-24">
          <div>
            <h3 class="content__subHeader">คลิปสอนการลงทะเบียน</h3>
            <div class="mgt-10">
              <iframe
                [src]="safeVideoUrl"
                frameborder="0"
                allowfullscreen
                class="video"
              ></iframe>
            </div>
          </div>
          <div>
            <h3 class="content__subHeader">คลิปสอนการเข้าสู่ระบบ</h3>
            <div class="mgt-10">
              <iframe
                [src]="safeVideoUrl"
                frameborder="0"
                allowfullscreen
                class="video"
              ></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="hr mgt-80"></div>
  <div class="mgt-62">
    <app-com-faq></app-com-faq>
  </div>
</div>
