@import "../../../styles.scss";

.textarea {
  resize: none;
  width: 100%;
  height: 10rem;
  border-radius: 8px;
  padding: 1rem 2rem;
  text-align: left;
  box-sizing: border-box;

  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  background-color: #fff;

  font-family: $custom-font-looped;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #101828;

  &:disabled {
    cursor: not-allowed;
    color: #667085;
  }

  &::placeholder {
    color: #667085;
  }

  &:focus-visible {
    outline: none;
    border: 1px solid #d9dbe1;
    box-shadow: 0px 0px 0px 4px #eaecf1, 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  }
}

.capture {
  width: 98%;
  min-height: 10rem;
  border-radius: 8px;
  padding: 1rem 2rem;
  text-align: left;
  box-sizing: border-box;

  border: 1px solid #d0d5dd;
  background-color: #fff;

  font-family: $custom-font-looped;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #101828;
}
