<div class="container">
  <h2 class="header">
    <span class="header--orange">ส่วนที่ 1</span> ข้อมูลพื้นฐานโครงการ
  </h2>

  <div class="section-container">
    <div class="section">
      <h3 class="section__header">1.1 ชื่อโครงการ/งานวิ่ง</h3>
      <div class="section-content">
        <div>
          <app-com-input-text
            id="projectName"
            placeholder="ชื่อโครงการ"
            width="67rem"
            controlName="projectName"
            [form]="generalFormGroup"
          ></app-com-input-text>
          @if (!form.get('general.projectName')?.valid &&
          form.get('general.projectName')?.touched && formTouched) {
          <div class="error mgt-10">
            <img src="/assets/error_icon.svg" alt="error icon" />
            <p class="error__text">กรุณากรอกชื่อโครงการ</p>
          </div>
          }
        </div>
      </div>
    </div>

    <div class="section">
      <h3 class="section__header">1.2 วันที่จัดการแข่งขัน</h3>
      <div class="section-content">
        <div class="eventDate__line">
          <p class="eventDate__line-label">วันที่</p>
          <div class="eventDate__line--group">
            <div>
              <app-com-select-dropdown
                id="year"
                [form]="eventDateFormGroup"
                [items]="yearOptions"
                placeholder="ปี"
                width="10.5rem"
                controlName="year"
                [onChange]="onYearOrMonthChanged"
              ></app-com-select-dropdown>
              @if (!form.get('general.eventDate.year')?.valid &&
              form.get('general.eventDate.year')?.touched && formTouched) {
              <div class="error mgt-10">
                <img src="/assets/error_icon.svg" alt="error icon" />
                <p class="error__text">กรุณาเลือกปี</p>
              </div>
              }
            </div>

            <div>
              <app-com-select-dropdown
                id="month"
                [form]="eventDateFormGroup"
                [items]="monthOptions"
                placeholder="เดือน"
                width="15.3rem"
                controlName="month"
                [onChange]="onYearOrMonthChanged"
              ></app-com-select-dropdown>
              @if (!form.get('general.eventDate.month')?.valid &&
              form.get('general.eventDate.month')?.touched && formTouched) {
              <div class="error mgt-10">
                <img src="/assets/error_icon.svg" alt="error icon" />
                <p class="error__text">กรุณาเลือกเดือน</p>
              </div>
              }
            </div>

            <div>
              <app-com-select-dropdown
                id="day"
                [form]="eventDateFormGroup"
                [items]="daysInMonthOptions"
                placeholder="วันที่"
                width="9rem"
                controlName="day"
                [disabled]="dayDropdownDisabled"
                emptyMessage="กรุณาเลือกปีและวัน"
              ></app-com-select-dropdown>
              @if (!form.get('general.eventDate.day')?.valid &&
              form.get('general.eventDate.day')?.touched && formTouched) {
              <div class="error mgt-10">
                <img src="/assets/error_icon.svg" alt="error icon" />
                <p class="error__text">กรุณาเลือกวันที่</p>
              </div>
              }
            </div>
          </div>
        </div>

        <div class="eventDate__time-container">
          <div class="eventDate__line">
            <p class="eventDate__line-label">เวลา</p>
            <div class="eventDate__line--group">
              <div class="eventDate__with-colon">
                <div>
                  <app-com-select-dropdown
                    id="fromHour"
                    [form]="eventDateFormGroup"
                    [items]="hourOptions"
                    placeholder="ชั่วโมง"
                    width="9rem"
                    controlName="fromHour"
                  ></app-com-select-dropdown>
                  @if (!form.get('general.eventDate.fromHour')?.valid &&
                  form.get('general.eventDate.fromHour')?.touched &&
                  formTouched) {
                  <div class="error mgt-10">
                    <img src="/assets/error_icon.svg" alt="error icon" />
                    <p class="error__text">กรุณาเลือกชั่วโมง</p>
                  </div>
                  }
                </div>
                <div class="eventDate__colon">:</div>
                <div>
                  <app-com-select-dropdown
                    id="fromMinute"
                    [form]="eventDateFormGroup"
                    [items]="minuteOptions"
                    placeholder="นาที"
                    width="9rem"
                    controlName="fromMinute"
                  ></app-com-select-dropdown>
                  @if (!form.get('general.eventDate.fromMinute')?.valid &&
                  form.get('general.eventDate.fromMinute')?.touched &&
                  formTouched) {
                  <div class="error mgt-10">
                    <img src="/assets/error_icon.svg" alt="error icon" />
                    <p class="error__text">กรุณาเลือกนาที</p>
                  </div>
                  }
                </div>
              </div>
            </div>
          </div>

          <div class="eventDate__line">
            <p class="eventDate__line-label">ถึงเวลา</p>
            <div class="eventDate__line--group">
              <div class="eventDate__with-colon">
                <div>
                  <app-com-select-dropdown
                    id="toHour"
                    [form]="eventDateFormGroup"
                    [items]="hourOptions"
                    placeholder="ชั่วโมง"
                    width="9rem"
                    controlName="toHour"
                  ></app-com-select-dropdown>
                  @if (!form.get('general.eventDate.toHour')?.valid &&
                  form.get('general.eventDate.toHour')?.touched && formTouched)
                  {
                  <div class="error mgt-10">
                    <img src="/assets/error_icon.svg" alt="error icon" />
                    <p class="error__text">กรุณาเลือกชั่วโมง</p>
                  </div>
                  }
                </div>
                <div class="eventDate__colon">:</div>
                <div>
                  <app-com-select-dropdown
                    id="toMinute"
                    [form]="eventDateFormGroup"
                    [items]="minuteOptions"
                    placeholder="นาที"
                    width="9rem"
                    controlName="toMinute"
                  ></app-com-select-dropdown>
                  @if (!form.get('general.eventDate.toMinute')?.valid &&
                  form.get('general.eventDate.toMinute')?.touched &&
                  formTouched) {
                  <div class="error mgt-10">
                    <img src="/assets/error_icon.svg" alt="error icon" />
                    <p class="error__text">กรุณาเลือกนาที</p>
                  </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <h3 class="section__header">
        1.3 สถานที่จัดการแข่งขัน (สถานที่จัดส่วนอำนวยการต่าง ๆ
        ควรเป็นสถานที่สำคัญในชุมชน เช่น โรงเรียน วัด)
      </h3>
      <div class="section-content">
        <div class="address__line">
          <label class="address__label">ชื่อสถานที่</label>
          <div>
            <app-com-input-text
              id="address"
              placeholder="สถานที่"
              width="32rem"
              controlName="address"
              [form]="addressFormGroup"
            ></app-com-input-text>
            @if (!form.get('general.address.address')?.valid &&
            form.get('general.address.address')?.touched && formTouched) {
            <div class="error mgt-10">
              <img src="/assets/error_icon.svg" alt="error icon" />
              <p class="error__text">กรุณากรอกสถานที่</p>
            </div>
            }
          </div>
        </div>
        <div class="address__line">
          <label class="address__label">จังหวัด</label>
          <div>
            <app-com-select-dropdown
              id="provinceId"
              [form]="addressFormGroup"
              [items]="provinceOptions"
              placeholder="จังหวัด"
              width="32rem"
              controlName="provinceId"
              [onChange]="onProvinceChanged"
            ></app-com-select-dropdown>
            @if (!form.get('general.address.provinceId')?.valid &&
            form.get('general.address.provinceId')?.touched && formTouched) {
            <div class="error mgt-10">
              <img src="/assets/error_icon.svg" alt="error icon" />
              <p class="error__text">กรุณาเลือกจังหวัด</p>
            </div>
            }
          </div>
        </div>

        <div class="address__line">
          <label class="address__label">อำเภอ/เขต</label>
          <div>
            <app-com-select-dropdown
              id="districtId"
              [form]="addressFormGroup"
              [items]="districtOptions"
              placeholder="อำเภอ/เขต"
              width="32rem"
              controlName="districtId"
              [onChange]="onDistrictChanged"
              [disabled]="!form.value.general.address.provinceId"
            ></app-com-select-dropdown>
            @if (!form.get('general.address.districtId')?.valid &&
            form.get('general.address.districtId')?.touched && formTouched) {
            <div class="error mgt-10">
              <img src="/assets/error_icon.svg" alt="error icon" />
              <p class="error__text">กรุณาเลือกอำเภอ/เขต</p>
            </div>
            }
          </div>
        </div>

        <div class="address__line">
          <label class="address__label">ตำบล/แขวง</label>
          <div>
            <app-com-select-dropdown
              id="subdistrictId"
              [form]="addressFormGroup"
              [items]="subdistrictOptions"
              placeholder="ตำบล/แขวง"
              width="32rem"
              controlName="subdistrictId"
              [disabled]="!form.value.general.address.districtId"
            ></app-com-select-dropdown>
            @if (!form.get('general.address.subdistrictId')?.valid &&
            form.get('general.address.subdistrictId')?.touched && formTouched) {
            <div class="error mgt-10">
              <img src="/assets/error_icon.svg" alt="error icon" />
              <p class="error__text">กรุณาเลือกตำบล/แขวง</p>
            </div>
            }
          </div>
        </div>
      </div>
    </div>

    <div class="section">
      <h3 class="section__header">1.4 เส้นทางที่ใช้สำหรับจัดกิจกรรม</h3>
      <div class="section-content">
        <div class="route">
          <label for="startPoint" class="route__label route__start-label"
            >จุด Start</label
          >
          <div>
            <app-com-input-text
              id="startPoint"
              placeholder="จุด Start"
              width="32rem"
              controlName="startPoint"
              [form]="generalFormGroup"
            ></app-com-input-text>
            @if (!form.get('general.startPoint')?.valid &&
            form.get('general.startPoint')?.touched && formTouched) {
            <div class="error mgt-10">
              <img src="/assets/error_icon.svg" alt="error icon" />
              <p class="error__text">กรุณากรอกจุด Start</p>
            </div>
            }
          </div>
        </div>
        <div class="route">
          <label for="finishPoint" class="route__label width-129"
            >จุด Finish (ถ้าเป็นจุดเดียวกัน ให้ระบุ “จุดเดิม”)</label
          >
          <div>
            <app-com-input-text
              id="finishPoint"
              placeholder="จุด Finish"
              width="32rem"
              controlName="finishPoint"
              [form]="generalFormGroup"
            ></app-com-input-text>
            @if (!form.get('general.finishPoint')?.valid &&
            form.get('general.finishPoint')?.touched && formTouched) {
            <div class="error">
              <img src="/assets/error_icon.svg" alt="error icon" />
              <p class="error__text">กรุณากรอกจุด Finish</p>
            </div>
            }
          </div>
        </div>
      </div>
    </div>

    <div class="section section--wider-gap">
      <h3 class="section__header">
        1.5 ประเภทงานวิ่งและอัตราค่าสมัคร (ตอบได้มากกว่า 1 ข้อ
        โปรดเลือกทุกระยะทางทีโครงการของท่านจัดการแข่งขัน)
      </h3>
      <div class="section-content">1.5 Content</div>
    </div>

    <div class="section section--wider-gap">
      <h3 class="section__header">
        1.6 จำนวนผู้เข้าร่วมที่คาดหวัง (เลือกตอบเพียง 1ข้อ)
      </h3>
      <div class="section-content">
        <app-com-radio
          id="expectedParticipants"
          [form]="generalFormGroup"
          [options]="expectedParticipantsOptions"
          controlName="expectedParticipants"
          gap="1rem"
        ></app-com-radio>
        @if (!form.get('general.expectedParticipants')?.valid &&
        form.get('general.expectedParticipants')?.touched && formTouched) {
        <div class="error">
          <img src="/assets/error_icon.svg" alt="error icon" />
          <p class="error__text">กรุณาเลือกจำนวนผู้เข้าร่วมที่คาดหวัง</p>
        </div>
        }
      </div>
    </div>

    <div class="section section--wider-gap">
      <h3 class="section__header">
        1.7 การจัดงานครั้งนี้ใช้บริษัทจัดงานหรือไม่ (เลือกตอบเพียง 1 ข้อ)
      </h3>
      <div class="section-content">
        <app-com-radio
          id="hasOrganizer"
          [form]="generalFormGroup"
          [options]="hasOrganizerOptions"
          controlName="hasOrganizer"
          gap="1rem"
          [onChanged]="onHasOrganizerChanged"
        ></app-com-radio>
        @if (!form.get('general.hasOrganizer')?.valid &&
        form.get('general.hasOrganizer')?.touched && formTouched) {
        <div class="error">
          <img src="/assets/error_icon.svg" alt="error icon" />
          <p class="error__text">กรุณาเลือกคำตอบ</p>
        </div>
        } @if (form.value.general.hasOrganizer) {
        <app-com-input-text
          id="organizerName"
          [form]="generalFormGroup"
          placeholder="ชื่อบริษัทจัดงาน"
          controlName="organizerName"
          width="43.3rem"
          margin="0 0 0 2rem"
        ></app-com-input-text>
        @if (!form.get('general.organizerName')?.valid &&
        form.get('general.organizerName')?.touched && formTouched) {
        <div class="error mgl-20">
          <img src="/assets/error_icon.svg" alt="error icon" />
          <p class="error__text">กรุณากรอกชื่อบริษัทจัดงาน</p>
        </div>
        } }
      </div>
    </div>
  </div>
</div>
