@import "../../styles.scss";

.container {
  padding-top: 3.7rem;
  padding-left: 8rem;
  padding-right: 8.5rem;
  padding-bottom: 3.3rem;

  @media only screen and (min-width: $bp1) {
    padding-left: 12.2rem;
    padding-right: 12.2rem;
  }
}

.index {
  display: flex;
  gap: 4px;

  &__prefix {
    font-family: $custom-font;
    font-size: 1.8rem;
    color: #667085;
    font-weight: 400;
    line-height: 3rem;
  }

  &__code {
    font-family: $custom-font;
    font-size: 1.8rem;
    color: #000;
    font-weight: 500;
    line-height: 3rem;
  }
}
