<div class="container">
  <div class="index">
    <a class="index__prefix" routerLink="/dashboard">หน้าแรก</a>
    <span class="index__prefix">/</span>
    <span class="index__code"> {{ pathDisplay }}</span>
  </div>

  <div class="section">
    <h1 class="section__header">{{ pathDisplay }}</h1>
    <div class="hr mgt-25 mgb-42"></div>

    <div
      [ngClass]="{
        review__container: true,
        'pdr-48': isApplicant,
        'pdr-70': isAdmin
      }"
    >
      <app-com-button (click)="onDownloadFormPdfClicked()">
        <div class="button-content">
          <div>โหลดเอกสาร</div>
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8 12L3 7L4.4 5.55L7 8.15V0H9V8.15L11.6 5.55L13 7L8 12ZM2 16C1.45 16 0.979167 15.8042 0.5875 15.4125C0.195833 15.0208 0 14.55 0 14V11H2V14H14V11H16V14C16 14.55 15.8042 15.0208 15.4125 15.4125C15.0208 15.8042 14.55 16 14 16H2Z"
              fill="#344054"
              [ngClass]="{
                'button-icon': true,
                'button-content__hover': downloadButtonAction === 'hover',
                'button-content__active': downloadButtonAction === 'active'
              }"
            />
          </svg>
        </div>
      </app-com-button>
      <div class="status mgl-56">
        <!-- Status -->
        <h3 class="header">สถานะการดำเนินการ</h3>

        @if (isAdmin && adminEditMode) {
        <app-com-select-dropdown-template
          [form]="form"
          controlName="projectStatusSecondary"
          [items]="projectStatusSecondaryOptions"
          [defaultValue]="projectStatus"
          cellPrefix="standard__"
          dropdownWidth="19.6rem"
        ></app-com-select-dropdown-template>
        } @else {
        <app-table-cell-template
          [cellType]="statusCellType"
          [cellValue]="getStatusDisplay(projectStatus)"
        ></app-table-cell-template>
        }
      </div>

      <!-- Review history start -->
      @if (isApplicant) {
      <div class="overview-table flex-1">
        <div class="row row--applicant">
          <h3 class="header">ประวัติการทำการ</h3>
          <h3 class="header">วันที่ทำการ</h3>
        </div>
        @for (item of data; track $index) {
        <div class="row row--applicant">
          <div class="details-row">
            @if (item.reviewId) {
            <p>
              {{ "ดูผลการกลั่นกรอง" + ($index + 1) }}
            </p>
            }
          </div>
          <p class="details-row">
            {{ getDisplayDate(item.reviewedAt) }}
          </p>
        </div>
        }
      </div>
      } @else if (isAdmin) {
      <div class="overview-table mgl-80 flex-1">
        <div class="row">
          <h3 class="header flex-basis-history">ประวัติการทำการ</h3>
          <h3 class="header flex-basis-date">วันที่ทำการ</h3>
          <h3 class="header flex-basis-score text-center">คะแนน</h3>
        </div>
        @for (item of data; track $index) {
        <div class="row">
          <div class="details-row flex-basis-history">
            @if ( item.reviewId) {
            <a class="navLink" [routerLink]="getReviewerPath(item)">{{
              "ดูผลการกลั่นกรอง" + ($index + 1)
            }}</a>
            }
          </div>

          <p class="details-row flex-basis-date">
            {{ getDisplayDate(item.reviewedAt) }}
          </p>

          <p class="details-row text-center flex-basis-score">
            {{ item.adminScore }}
          </p>
        </div>
        }
      </div>
      }
      <!-- Review history end -->
    </div>

    <div class="hr mgt-69"></div>

    <div class="mgt-25">
      <h3 class="header">เอกสารที่เกี่ยวข้อง</h3>
      <!-- Attachments -->
      <div class="attachments mgt-7">
        @for (group of attachmentGroupNames; track $index) {
        <div class="attachments__row">
          <div class="attachments__folder">
            <p class="attachments__text">{{ group.topic }}</p>
          </div>
          <div class="attachments__fileAndDate">
            @for (item of s3ObjectItems[group.key]; track $index) {
            <div class="attachments__fileAndDate-row">
              <p class="attachments__text">{{ item.display }}</p>
              <div class="attachments__fileAndDate-textWithIcon">
                <p class="attachments__text">{{ item.lastModified }}</p>
                <img
                  src="/assets/download_file_icon.svg"
                  alt="download file icon"
                  (click)="onDownloadItemClick(item.key)"
                />
              </div>
            </div>
            }
          </div>
        </div>
        }
      </div>
      <!-- END Attachments -->
    </div>

    <div class="mgt-35">
      <div class="otherFiles">
        <h3 class="header">เอกสารรายงานฉบับสมบูรณ์โครงการ</h3>
        <div class="otherFiles__downloadLink">
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8 12L3 7L4.4 5.55L7 8.15V0H9V8.15L11.6 5.55L13 7L8 12ZM2 16C1.45 16 0.979167 15.8042 0.5875 15.4125C0.195833 15.0208 0 14.55 0 14V11H2V14H14V11H16V14C16 14.55 15.8042 15.0208 15.4125 15.4125C15.0208 15.8042 14.55 16 14 16H2Z"
              fill="#344054"
              [ngClass]="{
                'button-icon': true,
                'button-content__hover': downloadButtonAction === 'hover',
                'button-content__active': downloadButtonAction === 'active'
              }"
            />
          </svg>
          <a class="otherFiles__text" target="_blank" [href]="reportTemplateUrl"
            >ดาวน์โหลดแบบฟอร์มรายงานฉบับสมบูรณ์</a
          >
        </div>
      </div>
      <!-- Upload file button -->
      @if (applicantEditMode) {
      <div class="mgt-16">
        <app-com-upload-button
          [filesSubject]="additionFilesSubject"
        ></app-com-upload-button>
      </div>
      }

      <!-- Addition -->
      <div class="attachments mgt-6">
        <div class="attachments__row">
          <div class="attachments__fileAndDate">
            @for (item of s3ObjectItems.addition; track $index) {
            <div class="attachments__fileAndDate-row">
              <p class="attachments__text">{{ item.display }}</p>
              <div class="attachments__fileAndDate-textWithIcon">
                <p class="attachments__text">{{ item.lastModified }}</p>
                <img
                  src="/assets/download_file_icon.svg"
                  alt="download file icon"
                  (click)="onDownloadItemClick(item.key)"
                />
              </div>
            </div>
            @if ($index !== s3ObjectItems.addition.length - 1) {
            <div class="hr"></div>
            } }
          </div>
        </div>
      </div>
      <!-- END Addition -->
    </div>

    <!-- Applicant view START -->
    @if (isApplicant) {
    <div class="summary__container mgt-70">
      <h2 class="summary__header">การอนุมัติโครงการ</h2>
      <div class="summary__status mgt-11">
        <p class="summary__text">สถานะ:</p>
        @if (data[0]) { @if (data[0].projectStatus === 'Approved') {
        <p class="summary__status__text summary__status__approved">
          ผ่านการอนุมัติ
        </p>
        } @else if (data[0].projectStatus === "NotApproved") {
        <p class="summary__status__text summary__status__notApproved">
          ไม่ผ่านการอนุมัติ
        </p>
        } @else {
        <p class="summary__status__text summary__status__reviewing">
          อยู่ในขั้นตอนการพิจารณา
        </p>
        } }
      </div>
      @if (!applicantEditMode) {
      <div class="summary__table mgt-21">
        <div class="summary__table__col">
          <p class="summary__text">จำนวนเงินทุน</p>
          <div class="summary__money mgt-11">
            <p class="summary__money__text">{{ fundApprovedAmount }}</p>
            @if (data[0] && data[0].fundApprovedAmount) {
            <p class="summary__money__text">บาท</p>
            }
          </div>
        </div>
      </div>
      }
    </div>

    <!-- Admin Comment -->
    @if (!applicantEditMode) {
    <div class="mgt-33">
      <h3 class="remark__header">หมายเหตุ</h3>
      <p class="remark__content mgt-21">
        {{ adminComment }}
      </p>
    </div>
    }

    <div class="button__container mgt-48">
      @if (applicantEditMode) {
      <button
        class="button button--next"
        (click)="onConfirmUpload()"
        [disabled]="additionFiles.length === 0 || projectStatus !== 'Revise'"
      >
        บันทึก
      </button>
      <button
        class="button button--cancel"
        (click)="changeToApplicantViewMode()"
      >
        ยกเลิก
      </button>
      } @else {
      <button
        class="button button--next"
        (click)="changeToApplicantEditMode()"
        [disabled]="projectStatus !== 'Revise'"
      >
        แก้ไข
      </button>
      <button class="button button--cancel" (click)="onBackToDashboard()">
        กลับ
      </button>
      }
    </div>
    <!-- Applicant view END -->
    } @else if (isAdmin) {
    <div class="summary__container mgt-70">
      <h2 class="summary__header">การอนุมัติโครงการ</h2>
      <div class="mgt-27">
        <app-com-radio
          [form]="form"
          controlName="projectStatusPrimary"
          [options]="projectStatusPrimaryOptions"
          fontSize="18px"
          direction="horizontal"
          [disabled]="!adminEditMode"
        ></app-com-radio>
      </div>
      @if (adminEditMode) {
      <div class="summary__table mgt-29">
        <div class="summary__table__col">
          <p class="summary__text">คะแนนรวม</p>
          <div class="mgt-7">
            <app-com-input-number
              id="adminScore"
              placeholder="คะแนน"
              [form]="form"
              controlName="adminScore"
              width="8.4rem"
            ></app-com-input-number>
            @if (!form.get('adminScore')?.valid &&
            form.get('adminScore')?.touched && formTouched) {
            <div class="error mgt-10">
              <img src="/assets/error_icon.svg" alt="error icon" />
              <p class="error__text">0-100</p>
            </div>
            }
          </div>
        </div>
        <div class="summary__table__col">
          <p class="summary__text">จำนวนเงินทุน</p>
          <div class="summary__money mgt-7">
            <div>
              <app-com-input-number
                id="fundApprovedAmount"
                placeholder="เงินทุน"
                [form]="form"
                controlName="fundApprovedAmount"
                width="26.4rem"
              ></app-com-input-number>
              @if (!form.get('fundApprovedAmount')?.valid &&
              form.get('fundApprovedAmount')?.touched && formTouched) {
              <div class="error mgt-10">
                <img src="/assets/error_icon.svg" alt="error icon" />
                <p class="error__text">กรุณาตรวจสอบจำนวนเงินทุน</p>
              </div>
              }
            </div>
            <p class="summary__money__text">บาท</p>
          </div>
        </div>
      </div>

      <div class="mgt-21">
        <h3 class="remark__header">หมายเหตุ</h3>
        <div class="mgt-4">
          <app-com-textarea
            [form]="form"
            controlName="adminComment"
            placeholder=""
            height="27.5rem"
          ></app-com-textarea>
        </div>
      </div>
      } @else {
      <div class="summary__table mgt-21">
        <div class="summary__table__col">
          <p class="summary__text">คะแนนรวม</p>
          <p class="summary__money__text mgt-11">{{ adminScore }}</p>
        </div>
        <div class="summary__table__col">
          <p class="summary__text">จำนวนเงินทุน</p>
          <div class="summary__money mgt-11">
            <p class="summary__money__text">{{ fundApprovedAmount }}</p>
            @if (data[0] && data[0].fundApprovedAmount) {
            <p class="summary__money__text">บาท</p>
            }
          </div>
        </div>
      </div>

      <div class="mgt-18">
        <h3 class="remark__header">หมายเหตุ</h3>
        <p class="remark__content mgt-21">
          {{ adminComment }}
        </p>
      </div>
      }
    </div>

    <div class="button__container mgt-48">
      @if (adminEditMode) {
      <button class="button button--next" (click)="onAdminSubmitForm()">
        บันทึก
      </button>
      <button class="button button--cancel" (click)="changeToAdminViewMode()">
        ยกเลิก
      </button>
      } @else {
      <button class="button button--next" (click)="changeToAdminEditMode()">
        แก้ไข
      </button>
      <button class="button button--cancel" (click)="onBackToDashboard()">
        กลับ
      </button>
      }
    </div>
    }
  </div>

  @if (showSuccessPopup) {
  <div [ngClass]="{ popup: true, 'popup--show': showSuccessPopup }">
    <app-com-success-popup
      displayText="อัพโหลดไฟล์สำเร็จ"
    ></app-com-success-popup>
  </div>
  } @else if (showErrorPopup) {
  <div [ngClass]="{ popup: true, 'popup--show': showSuccessPopup }">
    <app-com-error-popup displayText="อัพโหลดไฟล์ไม่สำเร็จ โปรดลองอีกครั้ง">
    </app-com-error-popup>
  </div>
  }
</div>
