<div class="container">
  <h1 class="header">Footer Setting</h1>
  <h2 class="subHeader mgt-13">Logo</h2>

  <div class="mgt-11">
    <div>
      <app-com-upload-button
        #uploadButton
        [filesSubject]="footerLogoFilesSubject"
        [disabled]="false"
        text="เพิ่ม Footer"
        accept="image/jpg, image/jpeg, image/png"
        [showFilesList]="false"
        [multiple]="false"
      ></app-com-upload-button>
    </div>
  </div>
  <!-- Banners display table -->
  <div class="table mgt-18">
    <div class="table__row">
      <div class="table__cell table__cell--header table__cell--no">No.</div>
      <div class="table__cell table__cell--header table__cell--flex1">
        File Name
      </div>
      <div class="table__cell table__cell--header table__cell--flex1">
        Link to url
      </div>
      <div class="table__cell table__cell--header table__cell--preview">
        Preview
      </div>
      <div class="table__cell table__cell--header table__cell--delete"></div>
    </div>
    @for (item of footerLogoFormArray.controls; track $index) {
    <div class="table__row">
      <div class="table__cell table__cell--no">{{ $index + 1 }}</div>
      <div class="table__cell table__cell--flex1">
        {{ getImageFileName(item.value.objectKey) }}
      </div>
      <div class="table__cell table__cell--flex1">
        <app-com-input-text
          placeholder="link to url"
          [form]="getLogoFormGroup($index)"
          controlName="linkTo"
        ></app-com-input-text>
      </div>
      <div class="table__cell table__cell--preview">
        <img
          class="table__imagePreview"
          [src]="item.value.fullPath"
          alt="preview"
        />
      </div>
      <div class="table__cell table__cell--delete">
        <img
          src="/assets/close_icon.svg"
          alt="X"
          (click)="onDeleteLogo($index)"
        />
      </div>
    </div>
    }
  </div>

  <div class="mgt-71">
    <h2 class="subHeader">ข้อมูลติดต่อ</h2>
    <div class="contact">
      <!-- Email -->
      <div class="contact__item">
        <div class="contact__item-label">E-mail</div>
        <div>
          <app-com-input-text
            placeholder="กรอกอีเมล"
            [form]="footerContact"
            controlName="email"
            width="70.2rem"
            height="4.4rem"
          ></app-com-input-text>
          @if (!emailControl.valid && emailControl.touched) {
          <div class="error mgt-4">
            <img src="/assets/error_icon.svg" alt="error icon" />
            <p class="error__text">กรุณากรอกอีเมล</p>
          </div>
          }
        </div>
      </div>
      <!-- PhoneNumber -->
      <div class="contact__item">
        <div class="contact__item-label">เบอร์โทรศัพท์</div>
        <div>
          <app-com-input-text
            placeholder="กรอกเบอร์โทรศัพท์"
            [form]="footerContact"
            controlName="phoneNumber"
            width="70.2rem"
            height="4.4rem"
            appOnlyNumber
          ></app-com-input-text>
          @if (!phoneNumberControl.valid && phoneNumberControl.touched) {
          <div class="error mgt-4">
            <img src="/assets/error_icon.svg" alt="error icon" />
            <p class="error__text">กรุณากรอกเบอร์โทรศัพท์</p>
          </div>
          }
        </div>
      </div>

      <div class="contact__item">
        <div class="contact__item-label">เวลาทำการ</div>
        <div class="op">
          <div class="op__item">
            <div>
              <app-com-input-text
                placeholder="09"
                [form]="footerContact"
                controlName="fromHour"
                width="5rem"
                height="4.4rem"
                appOnlyNumber
              ></app-com-input-text>
              @if (!fromHourControl.valid && fromHourControl.touched) {
              <div class="error mgt-4">
                <img src="/assets/error_icon.svg" alt="error icon" />
                <p class="error__text">ชั่วโมง</p>
              </div>
              }
            </div>
            <p class="op__text mgt-10">:</p>
            <div>
              <app-com-input-text
                placeholder="00"
                [form]="footerContact"
                controlName="fromMinute"
                width="5rem"
                height="4.4rem"
                appOnlyNumber
              ></app-com-input-text>
              @if (!fromMinuteControl.valid && fromMinuteControl.touched) {
              <div class="error mgt-4">
                <img src="/assets/error_icon.svg" alt="error icon" />
                <p class="error__text">นาที</p>
              </div>
              }
            </div>
          </div>
          <p class="op__item op__text mgt-10">ถึง</p>
          <div class="op__item">
            <div>
              <app-com-input-text
                placeholder="17"
                [form]="footerContact"
                controlName="toHour"
                width="5rem"
                height="4.4rem"
                appOnlyNumber
              ></app-com-input-text>
              @if (!toHourControl.valid && toHourControl.touched) {
              <div class="error mgt-4">
                <img src="/assets/error_icon.svg" alt="error icon" />
                <p class="error__text">ชั่วโมง</p>
              </div>
              }
            </div>
            <p class="op__text mgt-10">:</p>
            <div>
              <app-com-input-text
                placeholder="00"
                [form]="footerContact"
                controlName="toMinute"
                width="5rem"
                height="4.4rem"
                appOnlyNumber
              ></app-com-input-text>
              @if (!toMinuteControl.valid && toMinuteControl.touched) {
              <div class="error mgt-4">
                <img src="/assets/error_icon.svg" alt="error icon" />
                <p class="error__text">นาที</p>
              </div>
              }
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
