@switch (cellType) { @case ('DownloadIcon') {
<ng-container *ngTemplateOutlet="downloadIcon"></ng-container>
} @case ('Badge') {
<!-- Badge -->
<!-- Reviewer -->
@if (cellValue === 'reviewer__Reviewed') {
<ng-container *ngTemplateOutlet="badgeReviewerReviewed"></ng-container>
} @else if(cellValue === 'reviewer__PendingReview') {
<ng-container *ngTemplateOutlet="badgeReviewerPendingReview"></ng-container>
<!-- Applicant -->
} @else if(cellValue === "applicant__Reviewing") {
<ng-container *ngTemplateOutlet="badgeApplicantReviewing"></ng-container>
} @else if(cellValue === "applicant__Approved") {
<ng-container *ngTemplateOutlet="badgeApplicantApproved"></ng-container>
} @else if(cellValue === "applicant__Revise") {
<ng-container *ngTemplateOutlet="badgeApplicantRevise"></ng-container>
} @else if(cellValue === "applicant__NotApproved") {
<ng-container *ngTemplateOutlet="badgeApplicantNotApproved"></ng-container>
<!-- Standard -->
} @else if (cellValue === "standard__Reviewing") {
<ng-container *ngTemplateOutlet="badgeStandardReviewing"></ng-container>
} @else if (cellValue === "standard__Reviewed") {
<ng-container *ngTemplateOutlet="badgeStandardReviewed"></ng-container>
} @else if (cellValue === "standard__Revise") {
<ng-container *ngTemplateOutlet="badgeStandardRevise"></ng-container>
} @else if (cellValue === "standard__NotApproved") {
<ng-container *ngTemplateOutlet="badgeApplicantNotApproved"></ng-container>
} @else if (cellValue === "standard__Approved") {
<ng-container *ngTemplateOutlet="badgeApplicantApproved"></ng-container>
}@else if (cellValue === "standard__Start") {
<ng-container *ngTemplateOutlet="badgeStandardStart"></ng-container>
}@else if (cellValue === "standard__Completed") {
<ng-container *ngTemplateOutlet="badgeStandardCompleted"></ng-container>
}
<!-- Default show text  -->
} @default { <ng-container *ngTemplateOutlet="text"></ng-container>} }

<!-- Cell Templates -->
<ng-template #text>
  <div [ngClass]="{ bold: bold }">{{ cellValue }}</div>
</ng-template>

<ng-template #downloadIcon>
  @if (cellValue) {
  <a
    class="icon--link"
    (click)="_onClick($event)"
    (mouseenter)="onMouseEnterDownloadLink()"
    (mouseleave)="onMouseLeaveDownloadLink()"
    (mousedown)="onMouseDownDownloadLink()"
    draggable="false"
  >
    <div class="icon">
      <app-com-svg-download
        [hoverOverDownloadLink]="hoverOverDownloadLink"
      ></app-com-svg-download>
    </div>
  </a>
  }
</ng-template>

<!-- Reviewer dashboard badges -->
<ng-template #badgeReviewerPendingReview>
  <div class="badge__container badge__container--pendingReview">
    <div class="dot__container">
      <div class="dot__icon"></div>
    </div>
    <p class="badge__text badge__text--pendingReview">ยังไม่ได้กลั่นกรอง</p>
  </div>
</ng-template>

<ng-template #badgeReviewerReviewed>
  <div class="badge__container badge__container--reviewed">
    <div class="badge__icon-container">
      <app-com-svg-check></app-com-svg-check>
    </div>
    <p class="badge__text badge__text--reviewed">กลั่นกรองเรียบร้อย</p>
  </div>
</ng-template>

<!-- Applicant dashboard badges -->
<ng-template #badgeApplicantReviewing>
  <div class="badge__container badge__container--reviewing">
    <div class="dot__container">
      <div class="dot__icon"></div>
    </div>
    <p class="badge__text badge__text--reviewing">อยู่ในการพิจารณา</p>
  </div>
</ng-template>

<ng-template #badgeApplicantApproved>
  <div class="badge__container badge__container--approved">
    <div class="badge__icon-container">
      <app-com-svg-check></app-com-svg-check>
    </div>
    <p class="badge__text badge__text--approved">ผ่านการอนุมัติ</p>
  </div>
</ng-template>

<ng-template #badgeApplicantRevise>
  <div class="badge__container badge__container--revise">
    <div class="badge__icon-container">
      <img src="assets/corner-up-left.svg" alt="corner-up-left" />
    </div>
    <p class="badge__text badge__text--revise">มีการแก้ไข</p>
  </div>
</ng-template>

<ng-template #badgeApplicantNotApproved>
  <div class="badge__container badge__container--notApproved">
    <div class="badge__icon-container">
      <img src="assets/x.svg" alt="close icon" />
    </div>
    <p class="badge__text badge__text--notApproved">ไม่ผ่านการอนุมัติ</p>
  </div>
</ng-template>

<!-- Standard (project details/admin dashboard) badges -->
<ng-template #badgeStandardReviewing>
  <div class="badge__container badge__container--stdReviewing">
    <div class="dot__container">
      <div class="dot__icon dot__icon--gray"></div>
    </div>
    <p class="badge__text badge__text--stdReviewing">ยังไม่ได้กลั่นกรอง</p>
  </div>
</ng-template>

<ng-template #badgeStandardReviewed>
  <div class="badge__container badge__container--stdReviewed">
    <div class="badge__icon-container">
      <app-com-svg-check pathClass="color--orange"></app-com-svg-check>
    </div>
    <p class="badge__text badge__text--stdReviewed">กลั่นกรองเรียบร้อย</p>
  </div>
</ng-template>

<ng-template #badgeStandardRevise>
  <div class="badge__container badge__container--stdRevise">
    <div class="badge__icon-container">
      <img src="assets/corner-up-left.svg" alt="corner-up-left" />
    </div>
    <p class="badge__text badge__text--revise">มีการแก้ไข</p>
  </div>
</ng-template>

<ng-template #badgeStandardStart>
  <div class="badge__container badge__container--stdStart">
    <div class="dot__container">
      <div class="dot__icon dot__icon--green"></div>
    </div>
    <p class="badge__text badge__text--stdStart">กำลังดำเนินโครงการ</p>
  </div>
</ng-template>

<ng-template #badgeStandardCompleted>
  <div class="badge__container badge__container--stdCompleted">
    <div class="badge__icon-container">
      <app-com-svg-check pathClass="color--blue"></app-com-svg-check>
    </div>
    <p class="badge__text badge__text--stdCompleted">ปิดโครงการ</p>
  </div>
</ng-template>
