<ng-container [ngSwitch]="cellType">
  <!-- Download icon -->
  <ng-container *ngSwitchCase="'DownloadIcon'">
    <ng-container *ngTemplateOutlet="downloadIcon"></ng-container>
  </ng-container>

  <!-- Status badge -->
  <ng-container *ngSwitchCase="'Badge'">
    <ng-container *ngIf="cellValue === 'Reviewed'">
      <ng-container *ngTemplateOutlet="badgeReviewed"></ng-container>
    </ng-container>

    <ng-container *ngIf="cellValue === 'PendingReview'">
      <ng-container *ngTemplateOutlet="badgePendingReview"></ng-container>
    </ng-container>
  </ng-container>

  <!-- Default text -->
  <ng-container *ngSwitchDefault>
    <ng-container *ngTemplateOutlet="text"></ng-container>
  </ng-container>
</ng-container>

<!-- Cell Templates -->
<ng-template #text>
  {{ cellValue }}
</ng-template>

<ng-template #downloadIcon>
  <ng-container *ngIf="cellValue">
    <a [href]="cellValue" target="_blank" class="icon">
      <img src="/assets/download_icon.svg" class="icon--link" />
    </a>
  </ng-container>
</ng-template>

<ng-template #badgePendingReview>
  <div class="badge__container badge__container--pendingReview">
    <div class="dot__container">
      <div class="dot__icon"></div>
    </div>
    <p class="badge__text badge__text--pendingReview">ยังไม่ได้กลั่นกรอง</p>
  </div>
</ng-template>

<ng-template #badgeReviewed>
  <div class="badge__container badge__container--reviewed">
    <div class="badge__icon-container">
      <img src="/assets/check_icon.svg" alt="check icon" />
    </div>
    <p class="badge__text badge__text--reviewed">กลั่นกรองเรียบร้อย</p>
  </div>
</ng-template>
