<div class="container">
  <div class="banner-container">
    <img src="/assets/login_banner.png" alt="adult running" />
  </div>
  <div class="main">
    <form class="form" [formGroup]="form" (submit)="onNext()">
      <div class="main__card">
        <h1 class="main__header">ลืมรหัสผ่านหรือไม่?</h1>

        <div>
          <label class="input__label"
            >โปรดระบุอีเมลที่ต้องการรีเซ็ตรหัสผ่าน</label
          >
          <input
            type="text"
            formControlName="email"
            name="email"
            placeholder="กรอกที่อยู่อีเมล"
            class="input__text"
            (keyup)="onFieldValueChanged()"
          />
          @if ((!form.valid || apiError) && form.touched && everSubmitted) {
          <div class="form-helper">
            <div class="form-helper__error-container">
              <img src="/assets/error_icon_login.svg" alt="error icon" />
              <p class="form-helper__error-message">
                เกิดข้อผิดพลาด รบกวนตรวจสอบอีเมลอีกครั้ง
              </p>
            </div>
          </div>
          }
        </div>

        <div><button class="button">ต่อไป</button></div>
      </div>
    </form>
  </div>
</div>

<app-com-modal #captchaModal (modalCloseEvent)="resetSliderBar()">
  <div>
    <div class="captcha__menu">
      <p class="captcha__menu-text">ยืนยันตัวตนเพื่อดำเนินการต่อ</p>
      <div>
        <button class="captcha__menu-refresh" (click)="onRefreshCaptcha()">
          <img src="/assets/replay_icon.svg" alt="replay icon" />
        </button>
        <button class="captcha__menu-close" (click)="onCloseCaptcha()">
          <img src="/assets/close_icon.svg" alt="close icon" />
        </button>
      </div>
    </div>
    <div class="hr"></div>
    <div class="captcha__image-box">
      <img
        [src]="captchaPuzzle.background"
        alt="captcha background"
        class="captcha__image-background"
      />
      <img
        [src]="captchaPuzzle.puzzle"
        alt="captcha puzzle piece"
        class="captcha__image-puzzle"
        [ngStyle]="{ top: puzzleYPosition, left: currentXValue + 'px' }"
      />
    </div>
    <div class="captcha__slider mgt-10">
      <div class="captcha__slider-box">
        <p class="captcha__slider-text">
          เลื่อนปุ่มสีส้มหรือตัวต่อให้ทับช่องว่าง
        </p>
        <button class="captcha__slider-button">
          <img
            src="/assets/arrow_forward.svg"
            alt="arrow forward"
            draggable="false"
          />
        </button>
      </div>
    </div>
    <input
      type="range"
      min="10"
      max="238"
      [value]="currentXValue"
      (change)="onSliderChanged($event)"
      (input)="onSliderInput($event)"
      class="slider"
    />
  </div>
</app-com-modal>
