@import "../../styles.scss";

.container {
  display: flex;

  width: 92.6rem;
  height: 56.3rem;
  border-radius: 1.6rem;
  box-shadow: 0px 0px 16px 0px rgba(0, 0, 0, 0.15);
  margin: auto;
  margin-top: 11.5rem;
  margin-bottom: 8.7rem;
}

.banner {
  &-container {
    flex-basis: 31.1rem;
  }
}

.input {
  &__label {
    color: #344054;
    font-family: $custom-font;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 3px;
    display: block;
  }

  &__text {
    outline: none;
    padding: 1.5rem 1.6rem;
    width: 100%;

    border-radius: 8px;
    border: 1px solid #667085;

    font-size: 1.6rem;
    font-family: $custom-font;
    font-weight: 400;
    line-height: normal;
    color: #667085;
  }
}

.main {
  flex: 1;

  &__card {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 41.5rem;
    margin: auto;
    margin-top: 12.7rem;
  }

  &__header {
    font-family: $custom-font;
    font-size: 3.2rem;
    font-weight: 700;
    line-height: normal;
    text-align: center;
  }
}

.form-helper {
  height: 2.2rem;
  width: 100%;
  margin-top: 8px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  &__error-container {
    display: flex;
    align-items: center;
  }

  &__error-message {
    margin-left: 8px;
    color: #d92d20;
    font-family: $custom-font;
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.8rem;
  }

  &__forgot-password {
    justify-self: flex-end;
    flex: 1;
    text-align: right;
  }

  &__form-helper__forgot-password-link {
    color: #344054;
    font-family: $custom-font;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
  }
}

.button {
  padding: 1.5rem 1.8rem;
  border-radius: 8px;

  font-family: $custom-font;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: normal;
  text-align: center;
  color: #344054;
  width: 100%;

  background-color: #feb273;
  box-shadow: 0px 2px 8px 0px rgba(126, 36, 16, 0.25);

  border: none;
  cursor: pointer;

  &:hover {
    background-color: #ffbe88;
    color: #424f64;
  }

  &:active {
    background-color: #ffa167;
  }
}

.captcha {
  &__menu {
    display: flex;
    justify-content: space-between;

    &-text {
      color: #000;
      font-family: $custom-font;
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 500;
      line-height: 2.1rem;
    }

    &-refresh {
      cursor: pointer;
      background-color: #fff;
      border: none;
      outline: none;
    }

    &-close {
      cursor: pointer;
      background-color: #fff;
      border: none;
      outline: none;
      margin-left: 4px;
    }
  }

  &__image {
    &-box {
      position: relative;
      height: 14.9rem;
    }

    &-background {
      position: absolute;
    }

    &-puzzle {
      position: absolute;
      z-index: $captcha-puzzle-z;
      left: 1rem;
    }
  }

  &__slider {
    &-box {
      position: relative;
      border-radius: 4px;
      border: 1px solid #667085;
      width: 100%;
      height: 4.4rem;
    }

    &-text {
      color: #000;
      font-family: $custom-font;
      font-size: 1.2rem;
      font-style: normal;
      font-weight: 400;
      line-height: 2rem;

      position: absolute;
      top: 1.2rem;
      right: 4.3rem;
    }

    &-button {
      position: absolute;
      cursor: pointer;
      outline: none;
      border: none;

      top: -1px;
      left: -1px;
      height: 4.4rem;
      width: 4.4rem;
      border-radius: 4px;
      background-color: #ec4a0a;
    }
  }
}

.slider {
  width: 100%;
}

.mgt {
  &-10 {
    margin-top: 1rem;
  }
}

.hr {
  width: 100%;
  height: 1px;
  background-color: #d0d3da;
  margin: 1rem 0;
}

// Prevent Clicking on range bar to jump to that value
input[type="range"] {
  pointer-events: none;
}
input[type="range"]::-webkit-slider-thumb {
  /*Webkit Browsers like Chrome and Safari*/
  pointer-events: auto;
}
input[type="range"]::-moz-range-thumb {
  /*Firefox*/
  pointer-events: auto;
}
input[type="range"]::-ms-thumb {
  /*Internet Explorer*/
  pointer-events: auto;
}
