<div class="container">
  <div class="banner-container">
    <img [src]="bannerUrl" alt="adult running" class="banner__img" />
  </div>
  <div class="main">
    <form class="form" [formGroup]="form" (submit)="onNext()">
      <div class="main__card">
        <h1 class="main__header">ลืมรหัสผ่านหรือไม่?</h1>

        <div>
          <label class="input__label"
            >โปรดระบุอีเมลที่ต้องการรีเซ็ตรหัสผ่าน</label
          >
          <input
            type="text"
            formControlName="email"
            name="email"
            placeholder="กรอกที่อยู่อีเมล"
            class="input__text"
            (keyup)="onEmailValueChanged()"
          />
          @if ((!form.valid || apiError) && form.touched && everSubmitted) {
          <div class="form-helper">
            <div class="form-helper__error-container">
              <img src="/assets/error_icon_login.svg" alt="error icon" />
              <p class="form-helper__error-message">
                เกิดข้อผิดพลาด รบกวนตรวจสอบอีเมลอีกครั้ง
              </p>
            </div>
          </div>
          }
        </div>

        <div><button class="button">ต่อไป</button></div>
      </div>
    </form>
  </div>
</div>

<app-com-captcha
  #captchaComponent
  [disabled]="isLoading"
  (captchaSubmitEmit)="onCaptchaSubmitEmit($event)"
  (captchaModalCloseEvent)="onCaptchaModalClosed()"
></app-com-captcha>
