<div>
  <h2 class="header">
    การประสานงานกับเครือข่ายมูลนิธิสมาพันธ์ชมรมเดิน-วิ่งเพื่อสุขภาพไทยภาค
  </h2>
  <div class="main mgt-31">
    <h3 class="main__name">
      โครงการมีการประสานงานกับเครือข่ายมูลนิธิสมาพันธ์ชมรมเดิน-วิ่งเพื่อสุขภาพไทยภาค
      และมีหนังสือนำส่ง
    </h3>
    <div class="main__radioBox">
      <app-com-radio
        [form]="form"
        controlName="collaborated"
        [options]="radioOptions"
        radioStyle="review-3b"
        [onChanged]="onCollaborateChanged"
        fontSize="16px"
      ></app-com-radio>
      @if (showCollaborationError) {
      <div class="error mgl-28">
        <img src="/assets/error_icon.svg" alt="error icon" />
        <p class="error__text">กรุณาเลือกตัวเลือก</p>
      </div>
      }
    </div>
    <div class="main__uploadBox">
      <app-com-upload-button
        [filesSubject]="filesSubject"
        [disabled]="uploadButtonDisabled"
      ></app-com-upload-button>

      <div class="main__exampleBox">
        <a
          class="main__uploadExampleLink"
          [href]="collaborationExampleUrl"
          target="_blank"
          >กดเพื่อดูตัวอย่างไฟล์
        </a>
        <p class="main__uploadLabel">
          แนบหนังสือนำส่ง (PDF, JPG ขนาดไม่เกิน 50 MB)
        </p>
      </div>
    </div>
  </div>
</div>
