@import "../../../styles.scss";

.container {
  background-color: #fff;
  padding: 6.1rem 9.4rem 11rem;
  border-radius: 2rem;

  margin: 4.8rem 4.4rem 3.9rem 3.8rem;
}

.header {
  color: $gray700;
  font-family: $custom-font;
  font-size: 2rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-bottom: 3rem;

  &__name {
    color: $gray700;
    font-family: $custom-font-looped;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 1rem 2rem;
    background-color: #f2edeb;

    &::after {
      content: "*";
      color: #c4320a;
    }
  }

  &__radioBox {
    padding-left: 2rem;
  }

  &__uploadBox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 5.2rem;
    align-items: flex-start;
  }

  &__uploadLabel {
    color: $gray700;
    text-align: center;
    font-family: $custom-font-looped;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}

.error {
  display: flex;
  font-family: $custom-font-looped;
  font-size: 1.3rem;
  font-weight: 400;
  line-height: normal;
  color: #ec4a0a;

  &__text {
    margin-left: 4px;
  }
}

.mgl {
  &-28 {
    margin-left: 2.8rem;
  }
}

.mgt {
  &-31 {
    margin-top: 3.1rem;
  }
}
