<div>
  <h2 class="header">
    การประสานงานกับเครือข่ายสมาพันธ์เดิน-วิ่งเพื่อสุขภาพไทยภาค
  </h2>
  <div class="main mgt-31">
    <h3 class="main__name">
      โครงการมีการประสานงานกับเครือข่ายสมาพันธ์เดิน-วิ่งเพื่อสุขภาพไทยภาค
      และมีหนังสือนำส่ง
    </h3>
    <div class="main__radioBox">
      <app-com-radio
        [form]="form"
        controlName="collaborated"
        [options]="radioOptions"
        radioStyle="review-3b"
        [onChanged]="onCollaborateChanged"
        fontSize="16px"
      ></app-com-radio>
      @if (showCollaborationError) {
      <div class="error mgl-28">
        <img src="/assets/error_icon.svg" alt="error icon" />
        <p class="error__text">กรุณาเลือกตัวเลือก</p>
      </div>
      }
    </div>
    <div class="main__uploadBox">
      <app-com-upload-button
        [filesSubject]="filesSubject"
        [disabled]="uploadButtonDisabled"
      ></app-com-upload-button>

      @if (errorWrongFilesUpload && uploadButtonTouched) {
      <div class="error mgl-28">
        <img src="/assets/error_icon.svg" alt="error icon" />
        <p class="error__text">กรุณาอัพโหลดหนังสือนำส่ง</p>
      </div>
      }

      <p class="main__uploadLabel">
        แนบหนังสือนำส่ง (PDF, JPG ขนาดไม่เกิน 25 MB)
      </p>
    </div>
  </div>
</div>
