.button {
  border-radius: 6px;
  cursor: pointer;
  background-color: #fff;
  color: #344054;
  border: 1px solid #667085;

  &:hover {
    border: 1px solid #fb6514;
    color: #fb6514;
  }

  &:active {
    border: 1px solid #9c2a10;
    color: #9c2a10;
  }

  &:disabled {
    background-color: #a5a6a7;
    box-shadow: 0px 2px 8px 0px rgba(126, 36, 16, 0.25);

    color: #4d535c;
    cursor: not-allowed;

    &:hover,
    &:active {
      background-color: #a5a6a7;
      box-shadow: 0px 2px 8px 0px rgba(126, 36, 16, 0.25);
      color: #4d535c;
      border: 1px solid #4d535c;
    }
  }
}
