@import "../../styles.scss";

.carousel {
  display: block;
  height: 45rem;
}

.container {
  display: flex;
  justify-content: space-between;
  padding-left: 12.3rem;
  padding-right: 8rem;
}

.text {
  font-family: $custom-font-looped;
  color: #344054;
}

.contentContainer {
  flex: 2;
}

.fixedContainer {
  flex: 1;
  display: block;
}

.nav {
  &__link {
    text-decoration: none;
  }

  &__button {
    display: flex;
    justify-content: center;
    padding: 2rem;
    align-items: center;
    gap: 2rem;
    outline: none;
    border: none;
    border-radius: 16px;
    background-color: #ffbe88;
    position: relative;

    border: 1px solid green;

    margin: auto;

    box-shadow: 0 3px 0 0 #f05036;

    cursor: pointer;

    &:hover {
      filter: brightness(105%);
    }

    &:active {
      filter: brightness(95%);
    }
  }

  &__text {
    font-family: $custom-font;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 3rem;
    color: #344054;
    text-align: left;
  }

  &__svg {
    width: 2.4rem;
    height: 2.4rem;
  }
}

.star {
  position: absolute;
  top: -4.5rem;
  left: -4.5rem;
  width: 5.5rem;
}

.flag {
  position: absolute;
  top: -8.6rem;
  right: -15rem;
  width: 20rem;
}

.width {
  &-272 {
    min-width: 272px;
    width: auto;
  }
  &-400 {
    min-width: 400px;
    width: auto;
  }
}

.mgt {
  &-5 {
    margin-top: 5px;
  }
  &-83 {
    margin-top: 83px;
  }
  &-96 {
    margin-top: 96px;
  }
}
