<div>
  <h1 style="font-size: 16px">Dashboard page</h1>
  <a style="font-size: 2.4rem" [routerLink]="['/login']">to Login Page</a>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, quia.
    Sapiente nisi a asperiores, saepe ipsum blanditiis deleniti quibusdam earum
    recusandae sequi vitae mollitia consequatur ratione magnam quisquam totam
    odio!
  </p>
  <!-- <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, quia.
    Sapiente nisi a asperiores, saepe ipsum blanditiis deleniti quibusdam earum
    recusandae sequi vitae mollitia consequatur ratione magnam quisquam totam
    odio!
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, quia.
    Sapiente nisi a asperiores, saepe ipsum blanditiis deleniti quibusdam earum
    recusandae sequi vitae mollitia consequatur ratione magnam quisquam totam
    odio!
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, quia.
    Sapiente nisi a asperiores, saepe ipsum blanditiis deleniti quibusdam earum
    recusandae sequi vitae mollitia consequatur ratione magnam quisquam totam
    odio!
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, quia.
    Sapiente nisi a asperiores, saepe ipsum blanditiis deleniti quibusdam earum
    recusandae sequi vitae mollitia consequatur ratione magnam quisquam totam
    odio!
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, quia.
    Sapiente nisi a asperiores, saepe ipsum blanditiis deleniti quibusdam earum
    recusandae sequi vitae mollitia consequatur ratione magnam quisquam totam
    odio!
  </p>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ipsum, quia.
    Sapiente nisi a asperiores, saepe ipsum blanditiis deleniti quibusdam earum
    recusandae sequi vitae mollitia consequatur ratione magnam quisquam totam
    odio!
  </p> -->
</div>
