<section>
  <a [routerLink]="'/details'">Details</a>
  <div class="dummy">
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat quos
      sequi facilis quas assumenda aspernatur neque quod ipsa quam ipsum? Libero
      ducimus labore temporibus iusto porro id alias molestiae repellat?
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat quos
      sequi facilis quas assumenda aspernatur neque quod ipsa quam ipsum? Libero
      ducimus labore temporibus iusto porro id alias molestiae repellat?
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat quos
      sequi facilis quas assumenda aspernatur neque quod ipsa quam ipsum? Libero
      ducimus labore temporibus iusto porro id alias molestiae repellat?
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat quos
      sequi facilis quas assumenda aspernatur neque quod ipsa quam ipsum? Libero
      ducimus labore temporibus iusto porro id alias molestiae repellat?
    </p>

    <!-- <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat quos
      sequi facilis quas assumenda aspernatur neque quod ipsa quam ipsum? Libero
      ducimus labore temporibus iusto porro id alias molestiae repellat?
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat quos
      sequi facilis quas assumenda aspernatur neque quod ipsa quam ipsum? Libero
      ducimus labore temporibus iusto porro id alias molestiae repellat?
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat quos
      sequi facilis quas assumenda aspernatur neque quod ipsa quam ipsum? Libero
      ducimus labore temporibus iusto porro id alias molestiae repellat?
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat quos
      sequi facilis quas assumenda aspernatur neque quod ipsa quam ipsum? Libero
      ducimus labore temporibus iusto porro id alias molestiae repellat?
    </p>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Placeat quos
      sequi facilis quas assumenda aspernatur neque quod ipsa quam ipsum? Libero
      ducimus labore temporibus iusto porro id alias molestiae repellat?
    </p> -->
  </div>
</section>
