<div class="container mt-29">
  <div class="header">
    <div class="header__icon">2</div>
    <div class="ml-13 pdt-5">
      <div>
        <h1 class="bold-text">ประเด็นการกลั่นกรองโครงการ</h1>
      </div>
      <div class="sticky">
        <h2 class="sticky__header">เกณฑ์การประเมิน</h2>

        <p class="sticky__text">
          <span class="sticky__number">1 </span>=
          ไม่เห็นด้วยอย่างยิ่ง/ไม่มีข้อมูล
        </p>
        <p class="sticky__text">
          <span class="sticky__number">2 </span>= ไม่เห็นด้วย
        </p>
        <p class="sticky__text">
          <span class="sticky__number">3 </span>= กลาง ๆ
        </p>
        <p class="sticky__text">
          <span class="sticky__number">4 </span>= เห็นด้วย
        </p>
        <p class="sticky__text">
          <span class="sticky__number">5 </span>= เห็นด้วยอย่างยิ่ง
        </p>
      </div>
    </div>
  </div>

  <div class="main">
    @for (group of groupHeaders; track group.id) {
    <div class="main__group">{{ group.groupName }}</div>
    @for (c of criteriaList; track $index) { @if (c.criteria_version === 1 &&
    c.group_number === group.id) {
    <p [innerHTML]="buildQuestionText(c)" class="main__question"></p>
    <app-com-radio
      [form]="form"
      [options]="scoreOptions"
      groupName="score"
      [controlName]="buildControlName(c)"
      radioStyle="review-3a"
      direction="horizontal"
    ></app-com-radio>
    } } }
  </div>
</div>
