<div class="container mt-29">
  <div class="header">
    <div class="header__icon">2</div>
    <div class="header_text ml-13 pdt-5">
      <div>
        <h1 class="bold-text">ประเด็นการกลั่นกรองโครงการ</h1>
      </div>
      <h2>เกณฑ์การประเมิน</h2>
      <p>1 = ไม่เห็นด้วยอย่างยิ่ง/ไม่มีข้อมูล</p>
      <p>2 = ไม่เห็นด้วย</p>
      <p>3 = กลาง ๆ</p>
      <p>4 = เห็นด้วย</p>
      <p>5 = เห็นด้วยอย่างยิ่ง</p>
    </div>
  </div>

  <div class="container__main">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero saepe eum
      error fugit unde assumenda cumque quae vitae voluptates vel? Quae
      voluptatum aspernatur sequi nisi et minima similique suscipit beatae?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero saepe eum
      error fugit unde assumenda cumque quae vitae voluptates vel? Quae
      voluptatum aspernatur sequi nisi et minima similique suscipit beatae?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero saepe eum
      error fugit unde assumenda cumque quae vitae voluptates vel? Quae
      voluptatum aspernatur sequi nisi et minima similique suscipit beatae?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero saepe eum
      error fugit unde assumenda cumque quae vitae voluptates vel? Quae
      voluptatum aspernatur sequi nisi et minima similique suscipit beatae?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero saepe eum
      error fugit unde assumenda cumque quae vitae voluptates vel? Quae
      voluptatum aspernatur sequi nisi et minima similique suscipit beatae?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero saepe eum
      error fugit unde assumenda cumque quae vitae voluptates vel? Quae
      voluptatum aspernatur sequi nisi et minima similique suscipit beatae?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero saepe eum
      error fugit unde assumenda cumque quae vitae voluptates vel? Quae
      voluptatum aspernatur sequi nisi et minima similique suscipit beatae?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero saepe eum
      error fugit unde assumenda cumque quae vitae voluptates vel? Quae
      voluptatum aspernatur sequi nisi et minima similique suscipit beatae?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero saepe eum
      error fugit unde assumenda cumque quae vitae voluptates vel? Quae
      voluptatum aspernatur sequi nisi et minima similique suscipit beatae?
    </p>
  </div>
</div>
