@import "../../../styles.scss";

.table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0px 1px 2px 0px #1018280f;

  table,
  tr {
    border: 1px solid #eaecf0;
  }

  &__header {
    height: 4.4rem;
    padding: 1.2rem 2.4rem;
    font-family: $custom-font;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 0;
    text-align: left;
    color: #667085;
  }

  &__cell {
    height: 7.2rem;
    padding: 1.6rem 2.4rem;
    text-align: left;
    font-family: $custom-font;
    font-size: 1.6rem;
    line-height: 2rem;
    font-weight: 400;
    color: #667085;
  }

  &__icon {
    width: 3.6rem;
    height: 3.6rem;

    &--link {
      display: block;
      width: 3.6rem;
      height: 3.6rem;
      margin: auto;
    }
  }
}

tbody > tr > td:nth-of-type(1) {
  font-weight: 500;
  color: #101828;
}

thead > tr > th:last-of-type {
  padding: 1rem;
}

tbody > tr > td:last-of-type {
  padding: 1.6rem 0;
  text-align: center;
}

tbody > tr:nth-child(2n + 1) {
  background-color: #eaecf0;
}

// Utils classes
.width-135 {
  width: 13.5rem;
}

.width-200 {
  width: 20rem;
}

.width-255 {
  width: 25.5rem;
}

.width-92 {
  width: 9.2rem;
}

.margin-top-24 {
  margin-top: 2.4rem;
}

// Badge
.badge {
  &__container {
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 8px 6px 10px;
    border-radius: 1.6rem;
    text-align: center;

    &--pendingReview {
      width: 13.5rem;
      background-color: #fff6d5;
    }

    &--reviewed {
      background-color: #ecfdf3;
      width: 14.6rem;
    }
  }

  &__text {
    font-family: $custom-font;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2rem;

    &--pendingReview {
      color: #fd853a;
    }

    &--reviewed {
      color: #027a48;
    }
  }

  &__icon {
    &-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 4px;
    }
  }
}

.dot {
  &__container {
    width: 12px;
    height: 12px;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__icon {
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #fd853a;
  }
}
